/*------------------------------------*\
               SLIDER ARROWS
\*------------------------------------*/



.rsArrow .rsArrowIcn{
    @include rem(height, 26px);
    @include rem(width, 26px);
    @include rem(margin, 0 20px);
    border-color: white;

    .sub-menu--mega &{
        @include rem(height, 20px);
        @include rem(width, 20px);        
    }
}

@include media-query(palm) {
    .billboard .rsArrow{
        top: 30%;
    }
}


// @include media-query(lap-and-up) {
//     .arrows--outside .rsArrow{

//         .rsArrowIcn{    
//             border-color: black;
//         }

//         &.rsArrowLeft{
//             @include rem(left, -50px);
//         }

//         &.rsArrowRight{
//             @include rem(right, -50px);
//         }    
//     }    
// }

@include media-query(desk-wide) {

    .arrows--outside .rsArrow {
        .rsArrowIcn{
            @include rem(height, 45px);
            @include rem(width, 45px);        
            border-color: black;
        }

        &.rsArrowLeft{
            // @include rem(margin-left, -6 * $_u);
            left: -12%;
        }

        &.rsArrowRight{
            // @include rem(margin-right, -6 * $_u);
            right: -12%;
        }    
    }
}

/**
 * On fade transition the arrows disappear
 */
.rsArrow {
    z-index: 10;

    .arrows--outside & {
        top: 0;
        height: 100%;
    }    

    .single-post .arrows--outside &{
        height: 100%;
    }    
}