[caption align="alignright" width="150"]<a href="http://www.showmeshorts.co.nz/images/programmes/sms2017_programme.pdf"><img src="http://localhost/sms2017/images/webprogramme/events/2017/programmeCover2017.jpg" alt="Click to download the print programme" width="150" class="size-full wp-image-3116" /></a> Click to download the print programme[/caption]<p>Show Me Shorts Film Festival is proud to present our 11th annual programme. Browse by our 20 fantastic locations throughout New Zealand (+ Antartica!) and our seven themed sessions below.</p>

<p>Also be sure to check out our events- we kick off the festival in style with the <a href="http://www.showmeshorts.co.nz/events/auckland-opening-night/" title="Auckland Opening Night">Auckland Opening Night & Awards Ceremony</a> at The Civic in Auckland and the <a href="http://www.showmeshorts.co.nz/events/wellington-opening-night/" title="Wellington Opening Night">Wellington Opening Night</a> at The Embassy in Wellington. The <a href="http://www.showmeshorts.co.nz/events/short-film-talks/" title="Short Film Talks">Short Film Talks</a> in Auckland and Wellington are fantastic ways to learn more about shorts from some of NZ's top short film makers.</p>

<p>You can also find more about this year's festival from the <a href="http://www.showmeshorts.co.nz/directors-welcome-2017/">Director's Welcome</a> or download a <a href="http://www.showmeshorts.co.nz/images/programmes/sms2017_programme.pdf" title="PDF of the 2017 Show Me Shorts Film Festival">PDF of our print programme</a>.</p>
<br>

<h2>Trailer</h2>
<iframe width="853" height="480" src="https://www.youtube.com/embed/dgpMyj6D0Gk" frameborder="0" allowfullscreen></iframe>


[raw]

<a name="locations"></a>

<h2>Locations</h2>

<div id="navMapContainer">
<img id="smsMapImage" src="http://localhost/sms2017/images/webprogramme/smsMap2017.png" />

<div style="position: absolute; left: 15%; top: 22%;">
<a  href ="http://localhost/sms2017/programme/auckland-central"><location><div>
Auckland Central<span class='spacer'></span>
<br /><div class='date'>29 Oct - 5 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 9%; top: 15%;">
<a  href ="http://localhost/sms2017/programme/devonport"><location><div>
Devonport<span class='spacer'></span>
<br /><div class='date'>1-3 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 78%; top: 12%;">
<a  href ="http://localhost/sms2017/programme/great-barrier-island"><location><div>
Great Barrier Island<span class='spacer'></span>
<br /><div class='date'>13 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 14%; top: 9%;">
<a  href ="http://localhost/sms2017/programme/matakana"><location><div>
Matakana<span class='spacer'></span>
<br /><div class='date'>18 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 19%; top: 29%;">
<a  href ="http://localhost/sms2017/programme/pukekohe"><location><div>
Pukekohe<span class='spacer'></span>
<br /><div class='date'>4 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 28%; top: 14%;">
<a  href ="http://localhost/sms2017/programme/waiheke-island"><location><div>
Waiheke Island<span class='spacer'></span>
<br /><div class='date'>29 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 64%;">
<a  href ="http://localhost/sms2017/programme/christchurch"><location><div>
Christchurch<span class='spacer'></span>
<br /><div class='date'>16-22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 25%; top: 94%;">
<a  href ="http://localhost/sms2017/programme/stewart-island"><location><div>
Stewart Island<span class='spacer'></span>
<br /><div class='date'>3-24 Jan</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 68%; top: 52%;">
<a  href ="http://localhost/sms2017/programme/wellington-cbd"><location><div>
Wellington CBD<span class='spacer'></span>
<br /><div class='date'>9-22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 61%; top: 44%;">
<a  href ="http://localhost/sms2017/programme/paekakariki"><location><div>
Paekakariki<span class='spacer'></span>
<br /><div class='date'>12 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 66%; top: 87%;">
<a  href ="http://localhost/sms2017/programme/antarctica"><location><div>
Antarctica<span class='spacer'></span>
<br /><div class='date'>19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 9%; top: 15%;">
<a  href ="http://localhost/sms2017/programme/devonport"><location><div>
Devonport<span class='spacer'></span>
<br /><div class='date'>3 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 78%; top: 12%;">
<a  href ="http://localhost/sms2017/programme/great-barrier-island"><location><div>
Great Barrier Island<span class='spacer'></span>
<br /><div class='date'>13 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 14%; top: 9%;">
<a  href ="http://localhost/sms2017/programme/matakana"><location><div>
Matakana<span class='spacer'></span>
<br /><div class='date'>18 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 19%; top: 29%;">
<a  href ="http://localhost/sms2017/programme/pukekohe"><location><div>
Pukekohe<span class='spacer'></span>
<br /><div class='date'>4 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 28%; top: 14%;">
<a  href ="http://localhost/sms2017/programme/waiheke-island"><location><div>
Waiheke Island<span class='spacer'></span>
<br /><div class='date'>29 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 66%; top: 56%;">
<a  href ="http://localhost/sms2017/programme/blenheim"><location><div>
Blenheim<span class='spacer'></span>
<br /><div class='date'>19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 35%; top: 11%;">
<a  href ="http://localhost/sms2017/programme/colville"><location><div>
Colville<span class='spacer'></span>
<br /><div class='date'>25 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 59%; top: 11%;">
<a  href ="http://localhost/sms2017/programme/dargaville"><location><div>
Dargaville<span class='spacer'></span>
<br /><div class='date'>5 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 38%; top: 84%;">
<a  href ="http://localhost/sms2017/programme/dunedin"><location><div>
Dunedin<span class='spacer'></span>
<br /><div class='date'>12 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 89%; top: 30%;">
<a  href ="http://localhost/sms2017/programme/gisborne"><location><div>
Gisborne<span class='spacer'></span>
<br /><div class='date'>11-12 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 62%; top: 5%;">
<a  href ="http://localhost/sms2017/programme/kaitaia"><location><div>
Kaitaia<span class='spacer'></span>
<br /><div class='date'>4 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 79%; top: 45%;">
<a  href ="http://localhost/sms2017/programme/martinborough"><location><div>
Martinborough<span class='spacer'></span>
<br /><div class='date'>11 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 53%; top: 51%;">
<a  href ="http://localhost/sms2017/programme/nelson"><location><div>
Nelson<span class='spacer'></span>
<br /><div class='date'>18-19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 55%; top: 36%;">
<a  href ="http://localhost/sms2017/programme/new-plymouth"><location><div>
New Plymouth<span class='spacer'></span>
<br /><div class='date'>10 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 80%; top: 39%;">
<a  href ="http://localhost/sms2017/programme/pahiatua"><location><div>
Pahiatua<span class='spacer'></span>
<br /><div class='date'>11 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 83%; top: 23%;">
<a  href ="http://localhost/sms2017/programme/tauranga"><location><div>
Tauranga<span class='spacer'></span>
<br /><div class='date'>19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 39%; top: 25%;">
<a  href ="http://localhost/sms2017/programme/thames"><location><div>
Thames<span class='spacer'></span>
<br /><div class='date'>28 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 33%; top: 70%;">
<a  href ="http://localhost/sms2017/programme/wanaka"><location><div>
Wanaka<span class='spacer'></span>
<br /><div class='date'>19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 61%; top: 44%;">
<a  href ="http://localhost/sms2017/programme/paekakariki"><location><div>
Paekakariki<span class='spacer'></span>
<br /><div class='date'>12 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 69%; top: 10%;">
<a  href ="http://localhost/sms2017/programme/whangarei"><location><div>
Whangarei<span class='spacer'></span>
<br /><div class='date'>16 Nov</div>
</div>
</location>
</a>
</div>

</div>
<select onchange="location = this.options[this.selectedIndex].value;" name="location-dropdown">
<option value=""><em>(Or select a location and cinema...)</em></option>
<option value="http://localhost/sms2017/programme/antarctica">Antarctica - Scott Base</option>
<option value="http://localhost/sms2017/programme/auckland-central">Auckland Central - Rialto Cinemas Newmarket</option>
<option value="http://localhost/sms2017/programme/blenheim">Blenheim - Top Town Cinema</option>
<option value="http://localhost/sms2017/programme/christchurch">Christchurch - Alice Cinematheque</option>
<option value="http://localhost/sms2017/programme/colville">Colville - Colville Town Hall, Colville Rd</option>
<option value="http://localhost/sms2017/programme/dargaville">Dargaville - Anzac Theatre</option>
<option value="http://localhost/sms2017/programme/devonport">Devonport - The Vic</option>
<option value="http://localhost/sms2017/programme/devonport">Devonport - The Vic</option>
<option value="http://localhost/sms2017/programme/dunedin">Dunedin - Rialto Cinemas</option>
<option value="http://localhost/sms2017/programme/gisborne">Gisborne - Dome Cinema, Poverty Bay Club building</option>
<option value="http://localhost/sms2017/programme/great-barrier-island">Great Barrier Island - Barrier Social Club</option>
<option value="http://localhost/sms2017/programme/great-barrier-island">Great Barrier Island - Barrier Social Club</option>
<option value="http://localhost/sms2017/programme/kaitaia">Kaitaia - Te Ahu</option>
<option value="http://localhost/sms2017/programme/martinborough">Martinborough - Circus Cinema</option>
<option value="http://localhost/sms2017/programme/matakana">Matakana - Matakana Cinemas</option>
<option value="http://localhost/sms2017/programme/matakana">Matakana - Matakana Cinemas</option>
<option value="http://localhost/sms2017/programme/nelson">Nelson - Suter Theatre</option>
<option value="http://localhost/sms2017/programme/new-plymouth">New Plymouth - 4th Wall Theatre</option>
<option value="http://localhost/sms2017/programme/paekakariki">Paekakariki - Finns Paekakariki</option>
<option value="http://localhost/sms2017/programme/paekakariki">Paekakariki - Finns Paekakariki</option>
<option value="http://localhost/sms2017/programme/pahiatua">Pahiatua - Regent Upstairs</option>
<option value="http://localhost/sms2017/programme/pukekohe">Pukekohe - Cinema 3 Pukekohe</option>
<option value="http://localhost/sms2017/programme/pukekohe">Pukekohe - Cinema 3 Pukekohe</option>
<option value="http://localhost/sms2017/programme/stewart-island">Stewart Island - Bunkhouse Theatre</option>
<option value="http://localhost/sms2017/programme/tauranga">Tauranga - Rialto Cinemas Tauranga</option>
<option value="http://localhost/sms2017/programme/thames">Thames - Embassy Cinemas</option>
<option value="http://localhost/sms2017/programme/waiheke-island">Waiheke Island - Waiheke Island Community Cinema</option>
<option value="http://localhost/sms2017/programme/waiheke-island">Waiheke Island - Waiheke Island Community Cinema</option>
<option value="http://localhost/sms2017/programme/wanaka">Wanaka - Ruby's Cinemas</option>
<option value="http://localhost/sms2017/programme/wellington-cbd">Wellington CBD - Embassy Theatre</option>
<option value="http://localhost/sms2017/programme/whangarei">Whangarei - Whangarei Film Society</option>
</select>
<br style="clear:both;" />


<h2>Events</h2>

<a href="http://localhost/sms2017/events/auckland-opening-night"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/events/2017/aucklandopening.jpg);"><overlayHead><span>Auckland Opening Night<span class='spacer'></span><br /><span class='spacer'></span>& Awards Ceremony</span></overlayHead></div></a><a href="http://localhost/sms2017/events/wellington-opening-night"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/events/2017/wellingtonopening.jpg);"><overlayHead><span>Wellington<span class='spacer'></span><br /><span class='spacer'></span>Opening Night</span></overlayHead></div></a><a href="http://localhost/sms2017/events/short-film-talks"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/events/2017/shortfilmtalks.jpg);"><overlayHead><span>Short Film Talks</span></overlayHead></div></a><br style="clear:both;" />
<a name="sessions"></a><h2>Sessions</h2>

<a href="http://localhost/sms2017/programme/made-to-move"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/madetomove.jpg);"><overlayHead><span>Made To Move</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/worlds-collide"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/worldscollide.jpg);"><overlayHead><span>Worlds Collide</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/québec-focus"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/québecfocus.jpg);"><overlayHead><span>QuéBec Focus</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/my-generation"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/mygeneration.jpg);"><overlayHead><span>My Generation</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/daring-to-be-different"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/daringtobedifferent.jpg);"><overlayHead><span>Daring To Be Different</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/light-in-the-dark"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/lightinthedark.jpg);"><overlayHead><span>Light In The Dark</span></overlayHead></div></a><a href="http://localhost/sms2017/programme/the-sampler"><div id="imagelink" style="background-image: url(http://localhost/sms2017/images/webprogramme/sessions/2017/thesampler.jpg);"><overlayHead><span>The Sampler</span></overlayHead></div></a><hr class="sessionBreak"><br style="clear:both;" />

[/raw]