[caption align="alignright" width="150"]<a href="http://www.showmeshorts.co.nz/images/programmes/sms2015_programme.pdf"><img src="http://www.showmeshorts.co.nz/images/webprogramme/events/2015/programmeCover2015.jpg" alt="Click to download the print programme" width="150" class="size-full wp-image-3116" /></a> Click to download the print programme[/caption]<p>Show Me Shorts Film Festival is proud to present our 10th annual programme. Browse by our 22 fantastic locations throughout New Zealand and our seven themed sessions below.</p>

<p>Also be sure to check out our events- we kick off the festival in style with the <a href="http://www.showmeshorts.co.nz/events/auckland-opening-night/" title="Auckland Opening Night">Auckland Opening Night & Awards Ceremony</a> at The Civic in Auckland and the <a href="http://www.showmeshorts.co.nz/events/wellington-opening-night/" title="Wellington Opening Night">Wellington Opening Night</a> at Paramount in Wellington. The <a href="http://www.showmeshorts.co.nz/events/short-film-talks/" title="Short Film Talks">Short Film Talks</a> in Auckland and Wellington are fantastic ways to learn more about shorts from some of NZ's top short film makers.</p>

<p>You can also find more about this year's festival from the <a href="http://www.showmeshorts.co.nz/programme/welcome">Director's Welcome</a>, the <a href="http://www.showmeshorts.co.nz/unveiling-the-2015-show-me-shorts-programme/">programme launch announcement</a>, or download a <a href="http://www.showmeshorts.co.nz/images/programmes/sms2015_programme.pdf" title="PDF of the 2015 Show Me Shorts Film Festival">PDF of our print programme</a>.</p>
<br>

[raw]

<hr class="sessionBreak">

<a name="locations"></a>

<h3>Locations</h3>

<div id="navMapContainer">
<img id="smsMapImage" src="http://www.showmeshorts.co.nz/images/webprogramme/smsMap2014.png" />

<div style="position: absolute; left: 23%; top: 79%;">
<a  href ="http://www.showmeshorts.co.nz/programme/alexandra"><location><div>
Alexandra<span class='spacer'></span>
<br /><div class='date'>14 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 15%; top: 22%;">
<a  href ="http://www.showmeshorts.co.nz/programme/auckland-central"><location><div>
Auckland Central<span class='spacer'></span>
<br /><div class='date'>12–25 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 9%; top: 15%;">
<a  href ="http://www.showmeshorts.co.nz/programme/devonport"><location><div>
Devonport<span class='spacer'></span>
<br /><div class='date'>13 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 14%; top: 9%;">
<a  href ="http://www.showmeshorts.co.nz/programme/matakana"><location><div>
Matakana<span class='spacer'></span>
<br /><div class='date'>13–15 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 19%; top: 29%;">
<a  href ="http://www.showmeshorts.co.nz/programme/pukekohe"><location><div>
Pukekohe<span class='spacer'></span>
<br /><div class='date'>23–27 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 28%; top: 14%;">
<a  href ="http://www.showmeshorts.co.nz/programme/waiheke-island"><location><div>
Waiheke Island<span class='spacer'></span>
<br /><div class='date'>15 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 64%;">
<a  href ="http://www.showmeshorts.co.nz/programme/christchurch"><location><div>
Christchurch<span class='spacer'></span>
<br /><div class='date'>19–25 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 67%; top: 11%;">
<a  href ="http://www.showmeshorts.co.nz/programme/dargaville"><location><div>
Dargaville<span class='spacer'></span>
<br /><div class='date'>22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 38%; top: 84%;">
<a  href ="http://www.showmeshorts.co.nz/programme/dunedin"><location><div>
Dunedin<span class='spacer'></span>
<br /><div class='date'>21 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 65%; top: 25%;">
<a  href ="http://www.showmeshorts.co.nz/programme/hamilton"><location><div>
Hamilton<span class='spacer'></span>
<br /><div class='date'>28 Nov–2 Dec</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 84%; top: 35%;">
<a  href ="http://www.showmeshorts.co.nz/programme/havelock-north"><location><div>
Havelock North<span class='spacer'></span>
<br /><div class='date'>19–25 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 53%; top: 52%;">
<a  href ="http://www.showmeshorts.co.nz/programme/nelson"><location><div>
Nelson<span class='spacer'></span>
<br /><div class='date'>21–22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 36%;">
<a  href ="http://www.showmeshorts.co.nz/programme/new-plymouth"><location><div>
New Plymouth<span class='spacer'></span>
<br /><div class='date'>19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 44%; top: 77%;">
<a  href ="http://www.showmeshorts.co.nz/programme/oamaru"><location><div>
Oamaru<span class='spacer'></span>
<br /><div class='date'>22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 77%; top: 43%;">
<a  href ="http://www.showmeshorts.co.nz/programme/palmerston-north"><location><div>
Palmerston North<span class='spacer'></span>
<br /><div class='date'>21 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 55%; top: 46%;">
<a  href ="http://www.showmeshorts.co.nz/programme/paraparaumu"><location><div>
Paraparaumu<span class='spacer'></span>
<br /><div class='date'>22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 25%; top: 94%;">
<a  href ="http://www.showmeshorts.co.nz/programme/stewart-island"><location><div>
Stewart Island<span class='spacer'></span>
<br /><div class='date'>21 Nov–2 Dec, 6–9 Jan</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 83%; top: 24%;">
<a  href ="http://www.showmeshorts.co.nz/programme/tauranga"><location><div>
Tauranga<span class='spacer'></span>
<br /><div class='date'>29 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 46%; top: 71%;">
<a  href ="http://www.showmeshorts.co.nz/programme/timaru"><location><div>
Timaru<span class='spacer'></span>
<br /><div class='date'>21 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 71%; top: 51%;">
<a  href ="http://www.showmeshorts.co.nz/programme/wellington"><location><div>
Wellington<span class='spacer'></span>
<br /><div class='date'>19 Nov–2 Dec</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 42%; top: 21%;">
<a  href ="http://www.showmeshorts.co.nz/programme/whitianga"><location><div>
Whitianga<span class='spacer'></span>
<br /><div class='date'>4–10 Jan</div>
</div>
</location>
</a>
</div>

</div>
<select onchange="location = this.options[this.selectedIndex].value;" name="location-dropdown">
<option value=""><em>Locations by alphabetical order</em></option>
<option value="http://www.showmeshorts.co.nz/programme/alexandra">Alexandra</option>
<option value="http://www.showmeshorts.co.nz/programme/auckland-central">Auckland Central</option>
<option value="http://www.showmeshorts.co.nz/programme/christchurch">Christchurch</option>
<option value="http://www.showmeshorts.co.nz/programme/dargaville">Dargaville</option>
<option value="http://www.showmeshorts.co.nz/programme/devonport">Devonport</option>
<option value="http://www.showmeshorts.co.nz/programme/dunedin">Dunedin</option>
<option value="http://www.showmeshorts.co.nz/programme/hamilton">Hamilton</option>
<option value="http://www.showmeshorts.co.nz/programme/havelock-north">Havelock North</option>
<option value="http://www.showmeshorts.co.nz/programme/matakana">Matakana</option>
<option value="http://www.showmeshorts.co.nz/programme/nelson">Nelson</option>
<option value="http://www.showmeshorts.co.nz/programme/new-plymouth">New Plymouth</option>
<option value="http://www.showmeshorts.co.nz/programme/oamaru">Oamaru</option>
<option value="http://www.showmeshorts.co.nz/programme/palmerston-north">Palmerston North</option>
<option value="http://www.showmeshorts.co.nz/programme/paraparaumu">Paraparaumu</option>
<option value="http://www.showmeshorts.co.nz/programme/pukekohe">Pukekohe</option>
<option value="http://www.showmeshorts.co.nz/programme/stewart-island">Stewart Island</option>
<option value="http://www.showmeshorts.co.nz/programme/tauranga">Tauranga</option>
<option value="http://www.showmeshorts.co.nz/programme/timaru">Timaru</option>
<option value="http://www.showmeshorts.co.nz/programme/waiheke-island">Waiheke Island</option>
<option value="http://www.showmeshorts.co.nz/programme/wellington">Wellington</option>
<option value="http://www.showmeshorts.co.nz/programme/whitianga">Whitianga</option>
</select>
<hr class="sessionBreak">


<h3>Events</h3>

<a href="http://www.showmeshorts.co.nz/events/auckland-opening-night"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2015/aucklandopening.jpg);"><overlayHead><span>Auckland Opening Night &<span class='spacer'></span><br /><span class='spacer'></span>Awards Ceremony</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/events/wellington-opening-night"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2015/wellingtonopening.jpg);"><overlayHead><span>Wellington<span class='spacer'></span><br /><span class='spacer'></span>Opening Night</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/events/short-film-talks"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2015/shortfilmtalks.jpg);"><overlayHead><span>Short Film Talks</span></overlayHead></div></a><hr class="sessionBreak"><br style="clear:both;" />
<a name="sessions"></a><h3>Sessions</h3>

<a href="http://www.showmeshorts.co.nz/programme/aroha-aotearoa"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/arohaaotearoa.jpg);"><overlayHead><span>Aroha Aotearoa</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/chivalry-isnt-dead"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/chivalryisntdead.jpg);"><overlayHead><span>Chivalry Isn't Dead</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/double-take"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/doubletake.jpg);"><overlayHead><span>Double Take</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/my-generation"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/mygeneration.jpg);"><overlayHead><span>My Generation</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/plunge-into-other-worlds"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/plungeintootherworlds.jpg);"><overlayHead><span>Plunge Into Other Worlds</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/trailblazers"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/trailblazers.jpg);"><overlayHead><span>Trailblazers</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/highlights"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2015/highlights.jpg);"><overlayHead><span>Highlights</span></overlayHead></div></a><hr class="sessionBreak">

[/raw]