[caption align="alignright" width="150"]<a href="http://www.showmeshorts.co.nz/images/programmes/sms2016_programme.pdf"><img src="http://www.showmeshorts.co.nz/images/webprogramme/events/2016/programmeCover2016.jpg" alt="Click to download the print programme" width="150" class="size-full wp-image-3116" /></a> Click to download the print programme[/caption]<p>Show Me Shorts Film Festival is proud to present our 11th annual programme. Browse by our 20 fantastic locations throughout New Zealand (+ Antartica!) and our seven themed sessions below.</p>

<p>Also be sure to check out our events- we kick off the festival in style with the <a href="http://www.showmeshorts.co.nz/events/auckland-opening-night/" title="Auckland Opening Night">Auckland Opening Night & Awards Ceremony</a> at The Civic in Auckland and the <a href="http://www.showmeshorts.co.nz/events/wellington-opening-night/" title="Wellington Opening Night">Wellington Opening Night</a> at The Embassy in Wellington. The <a href="http://www.showmeshorts.co.nz/events/short-film-talks/" title="Short Film Talks">Short Film Talks</a> in Auckland and Wellington are fantastic ways to learn more about shorts from some of NZ's top short film makers.</p>

<p>You can also find more about this year's festival from the <a href="http://www.showmeshorts.co.nz/programme/welcome">Director's Welcome</a>, the <a href="http://www.showmeshorts.co.nz/unveiling-the-2016-show-me-shorts-programme/">programme launch announcement</a>, or download a <a href="http://www.showmeshorts.co.nz/images/programmes/sms2016_programme.pdf" title="PDF of the 2016 Show Me Shorts Film Festival">PDF of our print programme</a>.</p>
<br>

[raw]

<hr class="sessionBreak">

<a name="locations"></a>

<h2>Locations</h2>

<div id="navMapContainer">
<img id="smsMapImage" src="http://www.showmeshorts.co.nz/images/webprogramme/smsMap2016.png" />

<div style="position: absolute; left: 23%; top: 79%;">
<a  href ="http://www.showmeshorts.co.nz/programme/alexandra"><location><div>
Alexandra<span class='spacer'></span>
<br /><div class='date'>5 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 66%; top: 87%;">
<a  href ="http://www.showmeshorts.co.nz/programme/antarctica"><location><div>
Antarctica<span class='spacer'></span>
<br /><div class='date'>22 Dec - 2 Jan</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 15%; top: 22%;">
<a  href ="http://www.showmeshorts.co.nz/programme/auckland-cbd"><location><div>
Auckland CBD<span class='spacer'></span>
<br /><div class='date'>2–16 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 9%; top: 15%;">
<a  href ="http://www.showmeshorts.co.nz/programme/devonport"><location><div>
Devonport<span class='spacer'></span>
<br /><div class='date'>7–9  Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 78%; top: 12%;">
<a  href ="http://www.showmeshorts.co.nz/programme/great-barrier-island"><location><div>
Great Barrier Island<span class='spacer'></span>
<br /><div class='date'>17 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 14%; top: 9%;">
<a  href ="http://www.showmeshorts.co.nz/programme/matakana"><location><div>
Matakana<span class='spacer'></span>
<br /><div class='date'>14–16 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 19%; top: 29%;">
<a  href ="http://www.showmeshorts.co.nz/programme/pukekohe"><location><div>
Pukekohe<span class='spacer'></span>
<br /><div class='date'>21–24 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 28%; top: 14%;">
<a  href ="http://www.showmeshorts.co.nz/programme/waiheke-island"><location><div>
Waiheke Island<span class='spacer'></span>
<br /><div class='date'>9 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 64%;">
<a  href ="http://www.showmeshorts.co.nz/programme/christchurch"><location><div>
Christchurch<span class='spacer'></span>
<br /><div class='date'>27 Oct–2 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 59%; top: 11%;">
<a  href ="http://www.showmeshorts.co.nz/programme/dargaville"><location><div>
Dargaville<span class='spacer'></span>
<br /><div class='date'>16 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 38%; top: 84%;">
<a  href ="http://www.showmeshorts.co.nz/programme/dunedin"><location><div>
Dunedin<span class='spacer'></span>
<br /><div class='date'>16 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 89%; top: 30%;">
<a  href ="http://www.showmeshorts.co.nz/programme/gisborne"><location><div>
Gisborne<span class='spacer'></span>
<br /><div class='date'>12 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 41%; top: 57%;">
<a  href ="http://www.showmeshorts.co.nz/programme/hokitika"><location><div>
Hokitika<span class='spacer'></span>
<br /><div class='date'>2-6 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 62%; top: 5%;">
<a  href ="http://www.showmeshorts.co.nz/programme/kaitaia"><location><div>
Kaitaia<span class='spacer'></span>
<br /><div class='date'>27–30 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 79%; top: 44%;">
<a  href ="http://www.showmeshorts.co.nz/programme/martinborough"><location><div>
Martinborough<span class='spacer'></span>
<br /><div class='date'>16–22 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 55%; top: 36%;">
<a  href ="http://www.showmeshorts.co.nz/programme/new-plymouth"><location><div>
New Plymouth<span class='spacer'></span>
<br /><div class='date'>20 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 80%; top: 37%;">
<a  href ="http://www.showmeshorts.co.nz/programme/pahiatua"><location><div>
Pahiatua<span class='spacer'></span>
<br /><div class='date'>22–24 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 25%; top: 94%;">
<a  href ="http://www.showmeshorts.co.nz/programme/stewart-island"><location><div>
Stewart Island<span class='spacer'></span>
<br /><div class='date'>19–30 Nov and 4–11 Jan</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 83%; top: 23%;">
<a  href ="http://www.showmeshorts.co.nz/programme/tauranga"><location><div>
Tauranga<span class='spacer'></span>
<br /><div class='date'>30 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 62%; top: 26%;">
<a  href ="http://www.showmeshorts.co.nz/programme/te-awamutu"><location><div>
Te Awamutu<span class='spacer'></span>
<br /><div class='date'>22–28 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 68%; top: 50%;">
<a  href ="http://www.showmeshorts.co.nz/programme/wellington-cbd"><location><div>
Wellington CBD<span class='spacer'></span>
<br /><div class='date'>13–26 Oct</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 58%; top: 44%;">
<a  href ="http://www.showmeshorts.co.nz/programme/paekakariki"><location><div>
Paekakariki<span class='spacer'></span>
<br /><div class='date'>16 Oct</div>
</div>
</location>
</a>
</div>

</div>
<select onchange="location = this.options[this.selectedIndex].value;" name="location-dropdown">
<option value=""><em>(Or select a location and cinema...)</em></option>
<option value="http://www.showmeshorts.co.nz/programme/alexandra">Alexandra - Central Cinema</option>
<option value="http://www.showmeshorts.co.nz/programme/antarctica">Antarctica - Scott Base</option>
<option value="http://www.showmeshorts.co.nz/programme/auckland-cbd">Auckland CBD - Academy Cinemas</option>
<option value="http://www.showmeshorts.co.nz/programme/christchurch">Christchurch - Alice Cinematheque</option>
<option value="http://www.showmeshorts.co.nz/programme/dargaville">Dargaville - Anzac Theatre</option>
<option value="http://www.showmeshorts.co.nz/programme/devonport">Devonport - The Vic</option>
<option value="http://www.showmeshorts.co.nz/programme/dunedin">Dunedin - Rialto Cinemas</option>
<option value="http://www.showmeshorts.co.nz/programme/gisborne">Gisborne - Dome Cinema</option>
<option value="http://www.showmeshorts.co.nz/programme/great-barrier-island">Great Barrier Island - Barrier Social Club</option>
<option value="http://www.showmeshorts.co.nz/programme/hokitika">Hokitika - Regent Theatre</option>
<option value="http://www.showmeshorts.co.nz/programme/kaitaia">Kaitaia - Te Ahu</option>
<option value="http://www.showmeshorts.co.nz/programme/martinborough">Martinborough - Circus Cinema</option>
<option value="http://www.showmeshorts.co.nz/programme/matakana">Matakana - Matakana Cinemas</option>
<option value="http://www.showmeshorts.co.nz/programme/new-plymouth">New Plymouth - 4th Wall Theatre</option>
<option value="http://www.showmeshorts.co.nz/programme/paekakariki">Paekakariki - Finns Paekakariki</option>
<option value="http://www.showmeshorts.co.nz/programme/pahiatua">Pahiatua - Regent Upstairs</option>
<option value="http://www.showmeshorts.co.nz/programme/pukekohe">Pukekohe - Cinema 3 Pukekohe</option>
<option value="http://www.showmeshorts.co.nz/programme/stewart-island">Stewart Island - Bunkhouse Theatre</option>
<option value="http://www.showmeshorts.co.nz/programme/tauranga">Tauranga - Rialto Tauranga</option>
<option value="http://www.showmeshorts.co.nz/programme/te-awamutu">Te Awamutu - Regent Theatre</option>
<option value="http://www.showmeshorts.co.nz/programme/waiheke-island">Waiheke Island - Waiheke Island Community Cinema</option>
<option value="http://www.showmeshorts.co.nz/programme/wellington-cbd">Wellington CBD - Embassy Theatre</option>
</select>
<hr class="sessionBreak">


<h2>Events</h2>

<a href="http://www.showmeshorts.co.nz/events/auckland-opening-night"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2016/aucklandopening.jpg);"><overlayHead><span>Auckland Opening Night<span class='spacer'></span><br /><span class='spacer'></span>& Awards Ceremony</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/events/wellington-opening-night"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2016/wellingtonopening.jpg);"><overlayHead><span>Wellington<span class='spacer'></span><br /><span class='spacer'></span>Opening Night</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/events/short-film-talks"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/events/2016/shortfilmtalks.jpg);"><overlayHead><span>Short Film Talks</span></overlayHead></div></a><hr class="sessionBreak"><br style="clear:both;" />
<a name="sessions"></a><h2>Sessions</h2>

<a href="http://www.showmeshorts.co.nz/programme/secrets-and-lies"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/secretsandlies.jpg);"><overlayHead><span>Secrets And Lies</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/my-generation"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/mygeneration.jpg);"><overlayHead><span>My Generation</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/homeland"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/homeland.jpg);"><overlayHead><span>Homeland</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/heartstrings"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/heartstrings.jpg);"><overlayHead><span>Heartstrings</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/he-tangata"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/hetangata.jpg);"><overlayHead><span>He Tangata</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/bump-in-the-night"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/bumpinthenight.jpg);"><overlayHead><span>Bump In The Night</span></overlayHead></div></a><a href="http://www.showmeshorts.co.nz/programme/highlights"><div id="imagelink" style="background-image: url(http://www.showmeshorts.co.nz/images/webprogramme/sessions/2016/highlights.jpg);"><overlayHead><span>Highlights</span></overlayHead></div></a><hr class="sessionBreak">

[/raw]