
/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Common form controls
 *
 * Shared size and type resets for form controls. Apply `.form-control` to any
 * of the following form controls:
 */
select,
textarea,
input[type="text"],
input[type="email"],
input[type="name"],
.form-control {
  display: block;
  vertical-align: middle;
  width: 100%;
  padding: 12px;
  padding: 0.85714rem;
  border: 1px solid #e5e9eb;
  outline: 0; }
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="name"]:focus,
  .form-control:focus {
    outline: 1px solid #ff0099; }
  .lt-ie9 select input, .lt-ie9
  textarea input, .lt-ie9
  input[type="text"] input, .lt-ie9
  input[type="email"] input, .lt-ie9
  input[type="name"] input, .lt-ie9
  .form-control input {
    width: 100%;
    padding: 12px 0;
    border: 1px solid #e5e9eb;
    outline: 0; }


/* BUTTONS */
select:focus, textarea:focus {
    outline-color: #ff0099; }

.pixcode--icon.square:hover, .pixcode--icon.circle:hover {
    background-color: #ff0099;
    color: white; }

