// .woocommerce {
//     margin-bottom:36px;
// }
//
.woocommerce table.shop_table{
    padding-bottom: 0;
    border: 0;
    border-bottom: 5px solid black;
    border-collapse: collapse;
    @include border-radius(0);

    td{
        border-top: 0;
    }

}

.woocommerce-page form p.form-row-wide{
    padding-left: 0;
    padding-right: 0;
}

.cart-form, .shop_table, .cart_totals-table {
    td .amount{
        color: black;
        @include font-size(22px);
    }
}

.cart_totals-table td{
    @include media-query(lap-and-up) {
        padding-left: 0;
    }
}

td.product-quantity .quantity{
    margin-left: 0;
}

.coupon label{
    display: inline-block;
}

.cart_totals table{
    padding-bottom: 0;
}

//Shipping Calculator
.woocommerce-page {
    .cart-collaterals form.shipping_calculator{
        float: left;
        clear: none;
        width: 100%;
    }

    .shipping-calculator-form {
        width:100%;
    }

    .shipping-calculator-button {
        float:left;
        margin-top: -50px;

        &:after{
            content: none !important;
        }
    }
}


.woocommerce-page .shop_table.cart .quantity{
    input.qty, .minus, .plus{
        @include border-radius(0);
    }  

    .minus, .plus{
        background: none;
        box-shadow: none;
    }
} 

.woocommerce-page .woocommerce + .separator{
    display: none;
}

.woocommerce-page .shop_table.cart input.btn{
    line-height: 2.167;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table{
    @include border-radius(0);
    border-collapse: collapse;
    margin-bottom: $_u2;

    td, th{
        padding: $_u2;
    }

    th{
        width: 48%;
    }

    td, td span{
        font-family: $base-font-family;
        color: black;
    }

    td span.amount {
        color: black;
        font-size: 22px;
        font-size: 1.57143rem;
        line-height: 1.10091;
        font-weight: normal;
    }    
}

.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text{
    padding: 0 5px;
    width: auto;
    line-height: 1.8;
}

body.woocommerce .cart-collaterals .cart_totals, body.woocommerce-page .cart-collaterals .cart_totals{
    float: none;
    width: auto;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include border-radius(0);

    tr{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}