/*---------------------------------*\
               ARTICLE
\*---------------------------------*/

.article {
    position: relative;
    @include rem(font-size, 14px);
}

.article__title {
    @include rem(margin-bottom, $_u2);
}

@include media-query(palm) {
    .article__title--single{
        @include font-size(25px);
    }
}

.article__title__meta {
    @include rem(margin-bottom, $_u);
}

.article__author-name {
    @extend .hN;
    @extend .delta;
    color: $accent;
    display: inline-block;
    font-style: normal;
}

.article__time {
    display: inline-block;
    @include font-size(12px);
}

.article__featured-image {
    @include rem(margin-bottom, $_u);
    position: relative;

    img {
        display: block;
    }
}

.article__title {
    display: block;
    position: relative;

    .hN {
        margin-bottom: 0;
    }
}

.article__title--inverse {
    color: white;
    background-color: $dark;
}

.article__title--full {
    margin-bottom:0;

    h3 {
        margin:0;
    }
}

.article__content {
    text-align: center;
}

.article__category {
    a:hover {
        text-decoration:underline;
    }
}

@include media-query(palm) {
    .container--single{
        padding-top: 4rem;
    }
}

.article__title{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/**
 * Article Grid
 * -- Blog Latest Posts, Posts Grid Cards
 */

.article--grid {
    width: 100%;

    padding-bottom: 0;
    @include rem(margin-bottom, $_u + $_u2 - 5px);

    -webkit-backface-visibility: hidden;

    .image-wrap{
        -webkit-backface-visibility: hidden;
    }

    .article__featured-image {

    }
}

@include media-query(lap-and-up) {
    .article--grid__header {

        &:hover {

            .article--grid__title  {

                h3 {
                    background-color:$accent;
                }

                &:after {
                    background-color:$accent;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.article--grid__body {
    @include rem(padding, 0 $_u2);
    position: relative;
    z-index: 22;

    .article__content {
        @include rem(padding, 0 $_u2);
    }
}

.article--grid__thumb {
    margin-bottom: 0;
    z-index: 21;
    transition: all 0.25s;


    &:before {
        transition: all 0.25s;
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:21;
        opacity:1;
        border: 0px solid #fff;

    }
}

.article--grid__title {
    @extend .article__title--inverse;
    background-color: transparent;
    z-index:22;

    .hN {
        text-align: center;
        @include rem(padding, $_u4 $_u);
        @include rem(margin, -$_u $_u2 $_u2);
        transition: background-color 0.15s;
    }

    &:after {
        background-color: $dark;
        content:"";
        height: 100%;
        position: absolute;
        top:0;
        left:24px;
        right: 24px;
        z-index:-1;
        transition: all 0.15s;
    }
}

.article--grid__meta {
    @extend %separator--section;
    margin-top: -1px;
    margin-bottom:0;
    @include rem(padding, 0 $_u $_u4);

    &:before {
        content: " ";
        display:block;
        height:1px;
        background-color: #b3b3b3;
        @include rem(margin, 0 #{-$_u4} $_u4);
    }
}



/**
 * Article Meta Links (date, comments, likes)
 * -- Blog Latest Posts, Posts Grid Cards, Hero Posts Module
 */

.article__meta-links {
    margin-bottom: 0;
    color: $light;
    @include rem(margin-left, -$_u2);
    @include font-size(11px);
    text-transform:uppercase;

    li {
        display: inline-block;
        @include rem(margin-left, $_u2);
    }

    a {
        color:$light;
    }

    i {
        @include font-size(14px);

        // small vertical positioning fix
        position:relative;
        top:1px;
        &.icon-comment {
            top:0px;
        }
    }
}



/**
 * Article List
 * -- Popular Posts Widget
 */
.article--list {
    margin-bottom: 0;

    img {
        filter: grayscale(1);
    }

    .badge {
        background-color: #807d7c;
    }
}

.article--list__title {
    @extend .article__title;
    @include rem(padding, 3px $_u 3px $_u2);
    @include rem(min-height, 54px);
    background-color: #f2edeb;
    color: black;
}

.article--list__link {
    @extend .cf;
    display: block;
    position: relative;
    @include rem(margin-bottom, $_u2);

    &:hover {

        .article--list__title {
            @extend .article__title--inverse;
        }

        img {
            filter: none;
        }

        .badge {
            background-color: $accent;
        }
    }
}

/**
 * [Widget] Latest Posts Slider
 */
.article--slider {
    @extend %separator--section;
    padding-bottom: 0;
}

.article--slider__title {
    @extend .article__title--inverse;
    @extend .article__title--full;

    @include rem(padding, $_u4 $_u);

    h3 {
        line-height:1.5;

        a {
            color: white;
        }
    }

    .hN {
        @extend .epsilon;
    }
}

.article--slider__meta {
    @include rem(padding, $_u4 $_u);
    // @include rem(margin-bottom, $_u2);
}

.article--single__meta {
    @extend %separator--section;
    @include rem(padding-top, $_u);
}




/*---------------------------------*\
        CUSTOM PAGE BUILDER
\*---------------------------------*/


/**
 * Hero Posts Module
 */
.featured-area__article.article--big .article__title .hN {
    @include media-query(palm) {
        font-size:19px;
        width:100%;
    }
}

.article--thumb .image-wrap {

}

.article--thumb__title {
    line-height: 1;
    @include rem(height, $_2u);
    overflow: hidden;

    a {
        color: $dark;
        &:hover {
            color:$accent;
        }
    }
}


.heroslider{
    .rsArrow{
        transform: translateY(-50%);
    }

    .rsArrowLeft{
        left: $_u;
    }
}

/**
 * Posts Grid Cards ( ++styling if flexbox is supported )
 */

.flexbox .posts-grid-cards, .flexboxlegacy .posts-grid-cards {

    @include media-query(lap-and-up) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        .grid__item {
            display: flex;
            flex: 1 33.333%;

            position: relative;
        }

        article {
            position:relative;
            @include rem(margin-bottom, $_u + $_u4);

            .article--grid__body {
                padding-bottom:42px;
            }

            .article__meta {
                margin-bottom:0;
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                z-index: 25;
            }
        }
    }
}



/**
 * Billboard Slider Module
 */
.billboard {
    position: relative;
    @include rem(margin-bottom, $_u4);
    transition: opacity .5s linear;
    display: block;
    height: 367px;

    &:before {
        @extend .preloader;
        @extend .preloader-dark;
        @extend .image-wrap:after;
    }
    .rsSlide {

    }

    @include media-query(lap-and-up) {
        &.pixslider {
            height: 625px;
            // overflow:hidden;
        }

        .billboard--article-group {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        img {
            width: 100% !important;
            height: auto !important;
        }
    }
}


.billboard--article-group {
    visibility: hidden;
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;

    // Hide on loading and show when slider is ready
    opacity: 0;
    transition: opacity 0.2s ease-in;

    .rsSlide & {
        opacity:1;
    }

    &:first-child {
        z-index:100;
    }

    .slider--loaded &{
        visibility: visible;
    }
}

.billboard.visible, .lt-ie9 .billboard{
    opacity: 1;
}

.article--billboard {
    // position: static;

    width: 100%;

    & > a {
        display:block;
    }

    @include media-query(lap-and-up) {
        border-bottom:#{$_2u - 5px} solid #fff;
        &:after {
            content:"";
            width:100%;
            height:100%;
            display:block;
            position:absolute;
            top:0;
            left:0;
            background-image: linear-gradient(rgba(0,0,0,0) 80%, rgba(0,0,0,.8));
        }
        &:before {
            content:"";
            width:100%;
            height:100%;
            display:block;
            position:absolute;
            top:0;
            left:0;
            background-image: linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,.8));
        }
    }

    .read-more-label{
        display: none;
    }
}

.article--billboard-big{
    &:before, &:after{
        content: none;
    }
}

.article--billboard__header {
    position: relative;
    @include font-size(14px);

    .hN {

    }

    .read-more-label {
        font-family:$base-font-family;
        @include font-size($base-font-size);
        margin-top: 3px;
        display: none;
    }

    .hN, .small-link {
        transition: all 0.2s;
    }
}

.billboard__category {
    display:none;
}



.article--billboard__title {
    position: relative;
    // background: white;
    color: $dark;
    @include rem(margin, 0 0 0 #{-$_2u});
    @include rem(padding, 9px $_u2 9px $_2u);
    @include font-size(19px);
    line-height:1.2;
    clear: left;

    &:before {
        content:"";
        width:110%;
        height:100%;
        display:block;
        position:absolute;
        top:0;
        right:0;
        background:white;
        z-index:-1;


        transform: translateX(0px);
        transition: all 0.4s bezier(easeOutBack);
    }
}


@include media-query(lap-and-up) {
    .article--billboard{
        overflow:hidden;
        position: absolute;
        width:100%;
        height:100%;
        padding-left: 0 !important;

        & > a {

            .article__title {
                @include font-size(25px);
            }

            &:hover {
                .billboard__category {
                    color:$dark;
                    &:before {
                        transform: translateY(0);
                    }
                }
                .article__title {
                    .hN {
                        color:white;
                        transform: translate3d(30px, 0, 0);
                    }
                    &:before {
                        background:$accent;
                        // width:110%;
                        transform: translateX(50px);
                        transition: all 0.3s bezier(easeOutBack);
                        // @include transition(background 0.2s);
                    }
                }
                .small-link {
                    color:white;
                }
            }
        }

        .read-more-label{
            display: block;
        }
    }

    .billboard__category {
        float: left;
        font-weight: bold;
        letter-spacing:1px;
        line-height:1.5;
        text-transform: uppercase;
        color: white;
        @include rem(padding, $_u4 $_u);
        @include rem(margin-left, -$_u);
        position:relative;
        display:block;
        transition: all 0.3s;

        &:after {
            content:"";
            width:100%;
            height:100%;
            display:block;
            position:absolute;
            top:0;
            right:0;
            background: black;
            background:rgba(black, .5);
            z-index:-2;
        }

        &:before {
            content:"";
            width:100%;
            height:120%;
            display:block;
            position:absolute;
            top:0;
            right:0;
            background:white;
            z-index:-1;

            transform: translateY(40px);
            transition: all 0.3s bezier(easeOutBack);
        }
    }

    .article--billboard__header {
        position: absolute;
        top:auto;
        @include rem(bottom, $_u);
        @include rem(left, $_2u);
        z-index: 30;
        width: 46.5%;
    }

    .billboard--article-group{
        margin-left: 0;
    }
}






/*
*  Small Post Cards
*/

.article--billboard-small {
    @extend %separator--section;
    padding-bottom: 0;
    background: white;
    position: static;

    @include media-query(palm) {
        border-bottom: 0;
    }

    .small-link {
        display: block;
        line-height:1;
        color:$light;
        em {
            transition: all 0.3s;
            color:$accent;
            margin-left: 6px;
            font-size: 16px;
            font-style:normal;
        }
    }

    & > a {
        display:block;
    }

    .article__thumb {
        background:white;
    }

    .article__content {
        background:white;
        text-align:left;
        overflow:hidden;
        transition: height 0.4s bezier(easeOutBack);
    }

    .article__description {
        color:$light;
        font-size:13px;
        line-height:1.5;
        margin-bottom:$_3u;
        display:none;

    }

    .small-link {
        display:none;
    }

    @include media-query(lap-and-up) {
        & {
            @include rem(width, $_8u);
            @include rem(height, 280px);
            position: absolute;
            z-index: 40;
            bottom: 0;
            top:auto;
            left:auto;
            @include rem(right, 9 * $_u + $_u4 * 3);
            padding-left: 0;
        }

        + .article--billboard-small {
            @include rem(right, $_u);

        }

        .article__thumb {
            position:relative;
            transform: translateY(-8px);
            transition: all 0.4s bezier(easeOutBack);
        }

        .article__title {
            @include rem(height, $_2u);
        }

        .article__content {
            @include rem(padding, $_u2);
            position:absolute;
            bottom:0;
            left:0;
            right: 0;
            z-index: 1;

            height:135px;
        }

        .article__description {
            display:block;
            opacity:0;
            transform: translateY(30px);
            transition: all 0.4s bezier(easeOutBack) 0.07s;
        }

        .small-link {
            display:block;
            position:absolute;
            bottom:$_u2;
        }


        &:hover {
            .article__thumb {
               transform: translateY(-$_u);
            }
            .article__title {

            }
            .article__content {
                height:195px;
            }
            .article__description {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.article--billboard-small__title {

    overflow: hidden;
    color: $dark;

    .hN {
        max-width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        @extend .gamma;
    }

    @include media-query(palm) {
        @include rem(padding, 9px 0);
        margin-bottom:0;

        .hN {
            @include font-size(19px);
        }
    }
}

.billboard .image-wrap{
    cursor: pointer;
}



/**
 * Content Module
 */
.content-module {
    @include rem(margin-bottom, $_u + $_u4);

    .rsArrow{
        transform: translateY(-75%);

        .rsArrowIcn{
            border-color: black;
        }
    }

    .rsArrowLeft{
        left: -70px;
    }

    .rsArrowRight{
        right: -70px;
    }
}



/**
 * Password protected article
 */

.post-password-submit{
    @include rem(padding, $_u2);
    margin-top: 1px;
    line-height: normal;
    font-size: 100%;
}

@include media-query(palm) {
    .post-password-submit{
        width: 100%;
        @include rem(margin-top, $_u);
    }
}

.wrong-password-message{
    color: $accent;
    font-weight: bold;
}





/*----------------------------------------*\
    $NEXT / PREVIOUS NAVIGATION
\*----------------------------------------*/
.post-nav {
    position: relative;
}

@include media-query(palm) {
    .post-nav-link {
        text-align: center;

        &:first-child{
            @include rem(margin-bottom, $_u);
        }
    }
}

@include media-query(lap-and-up) {
    .post-nav-link {
        @include rem(padding-right, $_u);
        @include rem(padding-left, $_2u);
        position: relative;

        a:after {
            content: "";
            position: absolute;
            top: 50%;
            @include rem(width, $_u2);
            @include rem(height, $_u2);
            @include rem(margin-top, -$_u4);
            border: 0 solid $dark;
            @include rem(border-bottom-width, 2px);
        }
    }

    .post-nav-link--prev {
        text-align: right;

        a:after {
            @include rem(left, $_u);
            @include rem(border-left-width, 2px);
            transform: translateZ(0) rotate(45deg);
        }
    }

    .post-nav-link--next {
        text-align: left;

        a:after {
            right: 0;
            @include rem(border-right-width, 2px);
            transform: translateZ(0) rotate(-45deg);
        }
    }

    .post-nav-link--blank{
        &:after{
            content: none;
        }
    }
}

.post-nav-link__label {
    @extend .small-link;
    display: block;
}

.post-nav-link__title {
    @extend .gamma;
    display: block;
    color: $dark;

    h3 {
        margin: 0;
    }
}

@include media-query(palm) {
    .post-nav {
        .divider--pointer{
            display: none;
        }
    }
}

/*----------------------------------------*\
    $ARTICLE GALLERY SLIDER
\*----------------------------------------*/
.gallery__item__caption{

    @extend .wp-caption;
    display: block;

}

.gallery__item img.invisible{
    display: none;
}