/**
 * Article likes box styling
 *
    <div class="article-likes__box">
        <i class="icon-heart"></i>
        <span class="likes-count">3</span>
        likes
    </div>
 */

.likes-box.pixlikes-box {
	font-family: "Open Sans", sans-serif;
	@include font-size(14px);
	text-transform: uppercase;

	.like-link{
		// @include rem(height, 2 * $base-spacing-unit);
		// @include rem(width, 2 * $base-spacing-unit);
		// background: none;
		// border: none;
		// padding: 0;
		display:inline-block;
	}

	i {
		@include rem(font-size, 22px);
		@include rem(line-height, 2 * $base-spacing-unit);
		text-align: center;
		color: $dark !important;
		padding: 0;
		display: block;

		background: transparent !important;

		border: 3px solid $dark;
		border-radius: 50%;

		transform: scale(1);

		&:before{
			position: relative;
			top: -2px;
		}

		&:after {
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:$dark;

			border-radius: 50%;
			transition: all 1s ease-out;
			z-index:-1;

			backface-visibility: visible;
			-webkit-backface-visibility: visible;
			-moz-backface-visibility: visible;
		}
	}

	.image__item-meta & i{
		transform: scale(1);
		background-color: transparent;
	}

	.likes-text {
		position:relative;
//		top: -0.325em;
//		@include rem(margin-left, 7px);
//		display:inline-block;

		&:after {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -22px;
			content: "Don't move!";
			width: 75px;
			background: #fff;
			text-transform: none;
			font-weight: bold;
			color:$dark;

			opacity: 0;
			transition: opacity .2s linear;
		}
	}
}

/**
 * Default State - can like (.likeable)
 */
.likeable {
	.like-link {
		cursor: pointer;
	}

	i {
		// background-color: transparent;
		&:after {
			transform: scale(0.15);
		}
	}
}


/**
* Hover State (.animate)
*/
.likes-box.pixlikes-box.animate {
	i:after {
		transform: scale(1.1);
		transition: all 1.7s;
	}

	.likes-text {
		&:after {
			opacity: 1;
		}
	}
}

/**
* Complete animation (.complete)
*/
.complete {
	i {
		color: $accent;
		background-color: $dark;
		@include rem(font-size, 24px);
		animation: bounce 1s;

		&:after {
			transform: scale(1.1);
		}
	}
}

/**
* Liked State - cannot like (.liked)
*/
.likes-box.liked {

	i {
		color: $accent !important;
		background-color: $dark !important;
		@include rem(font-size, 24px);

		&:after {
			transform: scale(1.1);
		}
	}
}


/*
* Bounce animation for completed state
*/
@keyframes bounce {
	0% {
		transform: scale(1.1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: .7;
	}
	60% {
		transform: scale(0.6);
		opacity: 1;
	}
	80% { transform: scale(1.1) }
	100% { transform: scale(1) }
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: scale(1.1);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1.5);
		opacity: .7;
	}
	60% {
		-webkit-transform: scale(0.6);
		opacity: 1;
	}
	80% { -webkit-transform: scale(1.1) }
	100% { -webkit-transform: scale(1) }
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: scale(1.1);
		opacity: 1;
	}
	50% {
		-moz-transform: scale(1.5);
		opacity: .7;
	}
	60% {
		-moz-transform: scale(0.6);
		opacity: 1;
	}
	80% { -moz-transform: scale(1.1) }
	100% { -moz-transform: scale(1) }
}