/*-----------------------------------------------*\
              SHARE LINKS
\*-----------------------------------------------*/

$icon-size: 32px;


.share-box, .share-box-top {
    display: flex;
    justify-content: center;
    align-items: center;

    .at-icon-wrapper {
        border-radius: 50%;
    }

    .pixlikes-box {
        position: relative;
        padding-right: rem(32px);
        margin-right: rem(32px);

        &:after {
            content: "";

            position: absolute;
            top: 0;
            right: 0;

            height: 100%;
            width: 0;
            border-right: 1px solid #000000;
        }
    }

    a.addthis_counter.addthis_bubble_style {
        background: none;

        a.addthis_button_expanded {
            font-size: rem(32px);
            font-family: "Arvo", serif !important;
            line-height: 1.135;
            font-weight: normal;
        }
    }
}

.share-box-top {
    margin-bottom: rem($_u);
}

.share-item {
    text-align:center;
    margin-left:$_u2;
    cursor:pointer;
}
    .share-item__icon {
        i.pixcode--icon.circle {
            color:#fff;
            font-size:16px;
            line-height:32px;
            width: $icon-size;
            height: $icon-size;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5) inset, 0 1px 0px 0 rgba(255,255,255,0.8);
            background-color:$gray;

            &:before {
                margin: 0;
                line-height: 2;
            }
        }

        &:hover {
            i.pixcode--icon.circle {
                box-shadow: 0 2px 0px 0 rgba(255,255,255,0.2) inset, 0 -1px 0px 0 rgba(0,0,0,0.2) inset;
            }
        }
    }


.share-item {
	&.pixlikes-share i.pixcode--icon.circle {
		background-color:#232323;
	}
}