/*
Theme Name: PinkBucket
Theme URI: http://pixelgrade.com/demos/bucket
Author: PixelGrade Team
Author URI: http://pixelgrade.com
Description:  Child theme for Show Me Shorts. Based on Bucket: a surprising premium WordPress theme aimed at photographers in need for a solution that focuses on what matters most to them: their work. Every feature was carefully chosen and designed to ease the way to that perfect photography portfolio website.
Template: bucket
Version: 5.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bucket_txtd
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready

*/

/* Add your custom CSS rules that overwrite the ones in the main Lens theme here */

/*------------------------------------*\
               HEADER
\*------------------------------------*/

@media only screen and (max-width: 899px) {
  .wrapper {
      background-color: #d6eef0; }
  .header {
      background: #d6eef0; }
  .article__title--single {
      font-size: 2.78571rem;
      font-size: 40px; }      
  .site-logo--image {
      margin: 0 0; }
  .site-header {
    width: 100% }
  .widget--sidebar__title .hN {
    background: #d6eef0; }
  /* 
    * Trigger Icon
    */
  .site-navigation__trigger {
      opacity: 1.0;
      background: rgb(214,238,240);
      background: linear-gradient(0deg, rgba(214,238,240,0) 0%, rgba(214,238,240,1) 100%); }
  .site-navigation__trigger .nav-icon {
      background:  #d71920; } /* #ee3d96 */
  .site-navigation__trigger .nav-icon:after, .site-navigation__trigger .nav-icon:before {
      background: #d71920; } /* #ee3d96 */
  .navigation--is-visible .nav-icon {
      background: transparent; }
  .navigation--mobile {
      font-family: TradeGothicNextLTPro-Bd, Sans-Serif; }
}

@media only screen and (min-width: 900px) {
  .site-header {
    padding-left 0 !important;
    padding-bottom: 10; }
  .header--type3 .site-logo img {
    width: 100%; }
}

.containerHead {
  padding: 0 0 0 0 !important; }

/* Hide featured banner on mobile */
@media screen and (max-width: 899px){
    .article__featured-image img {
    display: block;
    padding-top: 30px;
    background-color: #d6eef0;
    }
}

.article--billboard {
  width: 100%; }
  .article--billboard > a {
    display: block; }
  @media only screen and (min-width: 900px) {
    .article--billboard {
	border-bottom: 20px solid #d6eef0; } } }



/*---------------------------------*               ARTICLE
\*---------------------------------*/
.article {
  position: relative;
  font-size: 14px;
  font-size: 1rem; }

/**
 * Article Grid
 * -- Blog Latest Posts, Posts Grid Cards
 */
.article--grid {
    background: #d6eef0; }



/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1, h2, .arqam-widget-counter li span {
    font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important; }

h3, h4, h5, h6, hgroup {
  font-family: TradeGothicNextLTPro-Bd, Sans-Serif !important; }

h1 {
  text-transform: capitalize; }

h2, .arqam-widget-counter li span, h3, h4, h5, h6 {
    text-transform: none;
    color: #ee3d96; }

.hN, .article__author-name, .comment__author-name, .score__average-wrapper, .score__label, .widget_calendar caption {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important;
  font-weight: normal;
  text-transform: capitalize; }

.heading .hN, .widget--sidebar__title .hN, .widget--footer__title .hN, .heading .article__author-name, .widget--sidebar__title .article__author-name, .widget--footer__title .article__author-name, .heading .comment__author-name, .widget--sidebar__title .comment__author-name, .widget--footer__title .comment__author-name, .heading .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading .score__label, .widget--sidebar__title .score__label, .widget--footer__title .score__label, .heading .widget_calendar caption, .widget_calendar .heading caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .heading .archive__side-title, .widget--sidebar__title .archive__side-title, .widget--footer__title .archive__side-title {
    font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important; }
/* background-color: ec008c; } */

.heading--main {
    color: #ee3d96;
    background: none;
    /* border-top: 6px solid; */
}

.heading--main .hN {
    background-color: #d6eef0 !important;
    border-top: 0px !important;
}

/* @media screen and (max-width: 899px){ */
/*     .heading--main .hN { */
/*       background-color: #fff !important; } } */

h3, .gamma, .heading--sidebar .hN, .widget--sidebar__title .hN, .heading--sidebar .article__author-name, .widget--sidebar__title .article__author-name, .heading--sidebar .comment__author-name, .widget--sidebar__title .comment__author-name, .heading--sidebar .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .heading--sidebar .score__label, .widget--sidebar__title .score__label, .heading--sidebar .widget_calendar caption, .widget_calendar .heading--sidebar caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .heading--footer .hN, .widget--footer__title .hN, .heading--footer .article__author-name, .widget--footer__title .article__author-name, .heading--footer .comment__author-name, .widget--footer__title .comment__author-name, .heading--footer .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading--footer .score__label, .widget--footer__title .score__label, .heading--footer .widget_calendar caption, .widget_calendar .heading--footer caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .article--billboard-small__title .hN, .article--billboard-small__title .article__author-name, .article--billboard-small__title .comment__author-name, .article--billboard-small__title .score__average-wrapper, .article--billboard-small__title .score__label, .article--billboard-small__title .widget_calendar caption, .widget_calendar .article--billboard-small__title caption, .post-nav-link__title, .comments-area-title .hN, .comments-area-title .article__author-name, .comments-area-title .comment__author-name, .comments-area-title .score__average-wrapper, .comments-area-title .score__label, .comments-area-title .widget_calendar caption, .widget_calendar .comments-area-title caption, .widget_calendar caption {
  font-size: 22px;
  font-size: 1.5714rem;
  line-height: 1.27316; }

h1 {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important;
  padding-top: 48px;
  color: #ee3d96;
  padding-top: 2.086rem;
  padding-bottom: 48px;
  padding-bottom: 2.086rem;}

h2, .arqam-widget-counter li span, .beta {
    font-size: 30px;
    font-size: 2.15rem;    
    line-height: 1.05348;
}

h2, .heading-category .hN {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important;  
  padding-top: 24px;
  padding-top: 1.043rem; }

h2.programme {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important;  
  padding-top: 24px;
  padding-top: 1.043rem;
  margin-top: 0px;
  margin-top: 0rem; }

.pagination li a {
    font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important; }

@media only screen and (max-width: 899px) {
  h2 {
    font-size: 25px;
    font-size: 1.78571rem;
    line-height: 1.45; }
  h1 {
    font-size: 34px;
    font-size: 2.0rem; } }

h3.programme {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif !important;    
  margin-bottom: 0px;
  margin-bottom: 0rem;}

.widget--sidebar__title .hN {
    line-height: 1.0; }

.heading, .widget--sidebar__title, .widget--footer__title {
  margin-bottom: 24px;
  margin-bottom: 1.71429rem; }

.heading .hN, .widget--sidebar__title .hN,  .heading .article__author-name, .widget--sidebar__title .article__author-name, .widget--footer__title .article__author-name, .heading .comment__author-name, .widget--sidebar__title .comment__author-name, .widget--footer__title .comment__author-name, .heading .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading .score__label, .widget--sidebar__title .score__label, .widget--footer__title .score__label, .heading .widget_calendar caption, .widget_calendar .heading caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .heading .archive__side-title, .widget--sidebar__title .archive__side-title, .widget--footer__title .archive__side-title {
    color: #ee3d96;
    background: #d6eef0;
    border-top: 6px solid;
    padding-left: 0px;
    text-transform: capitalize;}

.widget--footer__title em {
    color: #fff !important; }

/* @media screen and (max-width: 899px){ */
/*   .heading .hN, .widget--sidebar__title .hN,  .heading .article__author-name, .widget--sidebar__title .article__author-name, .widget--footer__title .article__author-name, .heading .comment__author-name, .widget--sidebar__title .comment__author-name, .widget--footer__title .comment__author-name, .heading .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading .score__label, .widget--sidebar__title .score__label, .widget--footer__title .score__label, .heading .widget_calendar caption, .widget_calendar .heading caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .heading .archive__side-title, .widget--sidebar__title .archive__side-title, .widget--footer__title .archive__side-title { */
/*       background: #d6eef0; } } */

.heading a, .widget--sidebar__title a, .widget--footer__title a {
      color: white; } 

.article--grid__body {
  padding: 0 0px; 
  padding: 0 0rem;
  position: relative;
  z-index: 22; }
  .article--grid__body .article__content {
    text-align: left;
    /* padding: 0 0 0 0; */
    padding: 0 0px; 
    padding: 0 0rem;
    /* padding: 0 12px 0; */
    /* padding: 0 0.85714rem 0; */
    border-bottom: 0 solid #ee3d96;
    border-bottom-width: 5px;
    border-bottom-width: 0.35714rem; }

.article--grid__title {
  background-color: #d6eef0;
  color: #ee3d96;
  z-index: 22; }
  .article--grid__title .hN, .article--grid__title .article__author-name, .article--grid__title .comment__author-name, .article--grid__title .score__average-wrapper, .article--grid__title .score__label, .article--grid__title .widget_calendar caption, .widget_calendar .article--grid__title caption {
    background-color: #d6eef0;
    text-align: left;
    padding: 12px 0px 0px;
    padding: 0.857rem 0rem 0rem;
    margin: 0 0 0;
    transition: color 0.15s; }
  .article--grid__title:after {
    background-color: #d6eef0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.15s; }

@media only screen and (min-width: 900px) {
  .article--grid__header:hover .article--grid__title h3 {
    background-color: #d6eef0 !important;
    color: #d71920; } }  /* secondary #ee3d96*/

.separator--section, .article--grid__meta {
    border-bottom: none; }

.article--grid__meta_sub {
  margin-top: -1px;
  margin-bottom: 0;
  padding: 0 0 12px; }
  .article--grid__meta:before {
    content: none;
    margin: 0 -6px 0; }

/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/
.navigation--top {
  line-height: 0;
  background-color: #ffffff; }

.navigation--main {
  font-family: TradeGothicNextLTPro-Bd, Arial !important;
  font-size: 17px !important;
  font-size: 1.2rem !important;
  line-height: 1.0;
  background-color: #d6eef0;
  margin-top: 20px;
  margin-bottom: 20px; }

.nav--main > li > a {
  font-size: 19px;
  font-size: 1.357rem;
  line-height: 1.0;     
  padding-bottom: 0.5rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  background-color: none;
  color: #ee3d96;}

.nav--main li:hover > a {
    color: #d71920;} /* secondary */

.nav--main__wrapper.sticky .nav--main {
    background: #d6eef0; }

@media only screen and (max-width: 1080px) {
  .navigation--main {
    font-size: 13px !important;
    font-size: 0.96rem !important;
    line-height: 0.8; }
  .nav--main > li > a {
    font-size: 15px;
    font-size: 1.07rem; } }

.small-link {
    font: 14px TradeGothicNextLTPro-Lt, Sans-Serif !important;
    font-size: 14px;
    font-size: 1rem;
    line-height: 2.01;
    text-transform: none;
}

/* /\*----------------------------------------*    $SUBMENUS */
/* \*----------------------------------------*\/ */

@media only screen and (min-width: 900px) {
  .nav--main > li {
    border-top-width: 5px; }
    .nav--main > li a {
	color: #ee3d96;} }

@media only screen and (min-width: 900px) {
   .sub-menu, .sub-menu--mega {
       background: white;}
   .sub-menu > li + li > a, .sub-menu--mega > li + li > a {
       border-top: none; } }

/* = SMS Location navigation map
-------------------------------------------------------------- */

#navMapContainer
{
    width:100%;
    max-width:600px;
    position:relative;
}

#smsMapImage
{    
    position:relative;
    left:0;
    top:0;
}

location {  
   color: #ffffff; 
   white-space:nowrap;
   position: relative;
   top: 0px; 
   left: 0; 
   width: auto;
   height: auto;
}

location:hover { 
   color: #d71920; /* secondary */
}

location div { 
   font: 14px TradeGothicNextLTPro-Bd, Sans-Serif !important;
   letter-spacing: -0.5px;  
   background: #000000; /* fallback color */
   line-height: 10px;
   padding: 2px 5px 2px 5px; 
}

location span.spacer {
   padding:0 5px;
}

location div.date {
   font: 10px/12px TradeGothicNextLTPro-Lt, Sans-Serif !important;
}

@media screen and (max-width: 550px){
    location div { 
         font: 9px TradeGothicNextLTPro-Bd, Sans-Serif !important;
	 padding: 1px 1px 1px 1px; 
	}
    location span.spacer {
	padding:0 1px;
    }
    location div.date { 
         font: 4px/6px TradeGothicNextLTPro-Lt, Sans-Serif !important;
	 padding: 1px 1px 1px 1px; 
	}
}

/*------------------------------------*\
    Text
\*------------------------------------*/

/* default paragraph font size */
p {
  font-family: TradeGothicNextLTPro-Lt !important;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.51; 
}

html {
  font: 0.875em/1.71429 TradeGothicNextLTPro-Lt, "PT Sans", sans-serif !important;
  overflow-y: scroll;
  color: black;
  min-height: 100%; }

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/**
 * Image placement variations.
 */
.partner{
    background: #fff;
    padding: 30px 10px 20px 20px; }

.img--partner a{
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto; }

.pixcode--icon.square, .pixcode--icon.circle {
    background-color: #EE3D96;
    color: #fff; }

.pixcode--icon.square:hover, .pixcode--icon.circle:hover {
    background-color: #d71920 !important; } /* secondary */


.partner img{
    margin: 5px 10px 20px 10px;
    display: inline-block;
}

.partner:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/* = Image text overlay (with transparent box)
-------------------------------------------------------------- */
#overlaybase {
    position:relative;
    display:block;
    max-width:100%;
    width:1080px;
    height:100%;
}

img.overlaybase {
    position:relative;
    display:block;
    max-width: 100%;
    width: 1080px;
    height:100%;    
}

img.overlaytop {
    position:absolute;
    top:10px;
    left:10px;
}

div#imagelink {
    background-image:  url(http://www.showmeshorts.co.nz/images/webprogramme/events/2014/wellingtonopening.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
}

overlayHead { 
   color: #ffffff; 
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead:hover { 
   color: #d71920; /* secondary */
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead span { 
   font-family: TradeGothicNextLTPro-Bd, Helvetica, Sans-Serif !important;
   font-size: 34px;
   font-size: 2.0rem;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.8);
   padding: 6.0px; 
   padding-bottom: 6.0px; 
}

overlayHead span.spacer {
   padding:0 5px;
   background: rgba(0, 0, 0, 0);
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr.sessionBreak {
  background: #ee3d96;
  border-top: 2px solid;
  clear: both;
  color: #ee3d96;
  height: 4px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -30px;
}

/*==========  $IMAGE WRAP  ==========*/
.image-wrap {
  background: #fff;}

/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Common form controls
 *
 * Shared size and type resets for form controls. Apply `.form-control` to any
 * of the following form controls:
 */
select,
textarea,
input[type="text"],
input[type="email"],
.form-control {
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  .form-control:focus {
    outline: 1px solid #ff0099; }
}

select {
  background-color: #fff;
  border: 1px solid #ee3d96;      
}

.input-field {
  cursor: text;}

.email-field {
  margin-bottom: 0.5rem; }

/*=============  LINKS  =============*/

a.blueLink {
  color: #3366ff;
  font-weight: bold;
  text-decoration: none;
}

/*=============  Buttons  =============*/
a.btn {
    background-color: #ee3d96 !important;
    color: #fff !important ; }

a.btn:hover {
    background-color: #d71920 !important ; } /* secondary */

.search-submit {
    background-color: #ee3d96 !important ;
    color: #fff !important ; }

.search-submit:hover {
    background-color: #d71920 !important ; } /* secondary */

.mc4wp-form-theme-red button, .mc4wp-form-theme-red input[type=submit] {
    color: #fff!important;
    font-family: TradeGothicNextLTPro-Lt, Sans-Serif !important;    
    background-color: #ee3d96!important;
    border-color: #ee3d96;
}

/*=============  TABLES  =============*/
table tr {
    border-style: none;}

table, .wpgrade_popular_posts {
    border-bottom: 5px solid #ee3d96; }

.separator--section {
    border-bottom: 0px solid #ee3d96; }

#table--pink-stripes tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) {
						    background-color: #fff; }

/* @media only screen and (max-width: 899px) { */
/*     #table--pink-stripes tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) { */
/*        background-color: #d6eef0;} } */

    
#table--pink-stripes th {
    background: none repeat scroll 0% 0% #d0d0d0; }

.table--footer-striped {
    border-bottom: 0px ; 
    background-color: #d71920; } /* secondary */
			    


.table--footer-striped tbody tr:nth-of-type(odd) {
					       background-color: #d71920; /* secondary */
					       border: 0;
					       border-bottom: 3px solid; }

.table--footer-striped tbody tr:nth-of-type(even) {
					       background-color: #ee3d96; /* secondary */
					       border: 0;
					       border-bottom: 3px solid; }

/* .table--footer-striped tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) { */
/* 					       background-color: #ee3d96; */
/* 					       border: 0; */
/* 					       border-bottom: 3px solid; } */


.control-group {
    display: inline-block; }

.controls {
    display: inline-block; 
    text-align: left;} 

/*===========  BLOCKQUOTES  & Captions ===========*/

blockquote {    
  quotes: "\201C" "\201D"; }
  blockquote p:before {
    content: "\201C";
    content: no-open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "\201D";
    content: no-close-quote; }
  blockquote q:before {
    content: "\2018";
    content: no-open-quote; }
  blockquote q:after {
    content: "\2019";
    content: no-close-quote; }

blockquote {
  font-family: TradeGothicNextLTPro-Lt, Sans-Serif !important;
  font-style: normal;
  color: #ec008c;      
  padding-left: 24px;
  padding-left: 1.71429rem;
  padding-top: 8px;
  padding-top: 0.5714rem;
  padding-bottom: 8px;
  padding-bottom: 0.5714rem;}

blockquote p {
  font-size: 18px;
  font-size: 1.25rem;
  line-height: 1.75; }    

blockquote:after {
    font-family: TradeGothicNextLTPro-Lt, Sans-Serif !important;
    content: none; }

.wp-caption, .gallery__item__caption, blockquote:before  {
  background: none; }

.wp-caption-text {
  font-family: TradeGothicNextLTPro-LtIt, Sans-Serif !important;
  font-style: normal;
  font-size: 14px;
  font-size: 1.0rem;
  line-height: 1.5;
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color: #ee3d96;
  border-bottom-style: solid;
  width: 100%;
  padding: 5px;
  padding: 0.35714286rem;
  margin: 0.0px;
  margin: 0.0rem; }

/*------------------------------------*\
               FOOTER
\*------------------------------------*/
.site__footer {
    color: #fff;
    background: #D71920; }
    .site__footer a {
      color: #fff; } 


.site__footer input, .site__footer select, .site__footer textarea {
  background: #fff;
  border: none;
  color: #ee3d96; }
  .site__footer input:focus, .site__footer select:focus, .site__footer textarea:focus {
							     outline: 0; }
  
.footer__copyright {
    background: #ee3d96; }

