/*
Theme Name: PinkBucket
Theme URI: http://pixelgrade.com/demos/bucket
Author: PixelGrade Team
Author URI: http://pixelgrade.com
Description:  Child theme for Show Me Shorts. Based on Bucket: a surprising premium WordPress theme aimed at photographers in need for a solution that focuses on what matters most to them: their work. Every feature was carefully chosen and designed to ease the way to that perfect photography portfolio website.
Template: bucket
Version: 5.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bucket_txtd
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready

*/

/* Add your custom CSS rules that overwrite the ones in the main Lens theme here */

/*------------------------------------*\
               HEADER
\*------------------------------------*/
.site-logo--image {
  display: block;
  margin: 0 auto; }
  @media only screen and (max-width: 899px) {
    .site-logo--image {
      margin: 6px 0; }
    .site-logo--image img {
        max-width: 70%; 
        max-height: 200px !important; } }

@media only screen and (min-width: 900px) {
  .site-header {
    width: 120%;
    margin-left: -10%;
  } }


@media only screen and (max-width: 1260px) {
  .site-header {
    width: 100%;
    margin-left: 0;      
    } }

/* Hide featured banner on mobile */
@media screen and (max-width: 899px){
    .billboard.pixslider.js-pixslider.arrows--outside.js-pixslider-mobile.rsAutoHeight.rsHor.rsFade.slider--loaded{
    display: none;
    }
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1, h2, .arqam-widget-counter li span {
    font-family: TradeGothicNextLTPro-Hv, Sans-Serif; }

h3, h4, h5, h6, hgroup {
  font-family: TradeGothicNextLTPro-Bd, Sans-Serif; }

h1, h2, .arqam-widget-counter li span, h3, h4, h5, h6 {
  text-transform: uppercase; }

.hN, .article__author-name, .comment__author-name, .score__average-wrapper, .score__label, .widget_calendar caption {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif;
  font-weight: normal;
  text-transform: uppercase; }

.heading .hN, .widget--sidebar__title .hN, .widget--footer__title .hN, .heading .article__author-name, .widget--sidebar__title .article__author-name, .widget--footer__title .article__author-name, .heading .comment__author-name, .widget--sidebar__title .comment__author-name, .widget--footer__title .comment__author-name, .heading .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading .score__label, .widget--sidebar__title .score__label, .widget--footer__title .score__label, .heading .widget_calendar caption, .widget_calendar .heading caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .heading .archive__side-title, .widget--sidebar__title .archive__side-title, .widget--footer__title .archive__side-title {
    font-family: TradeGothicNextLTPro-Hv, Sans-Serif; }
/* background-color: ec008c; } */

h3, .gamma, .heading--sidebar .hN, .widget--sidebar__title .hN, .heading--sidebar .article__author-name, .widget--sidebar__title .article__author-name, .heading--sidebar .comment__author-name, .widget--sidebar__title .comment__author-name, .heading--sidebar .score__average-wrapper, .widget--sidebar__title .score__average-wrapper, .heading--sidebar .score__label, .widget--sidebar__title .score__label, .heading--sidebar .widget_calendar caption, .widget_calendar .heading--sidebar caption, .widget--sidebar__title .widget_calendar caption, .widget_calendar .widget--sidebar__title caption, .heading--footer .hN, .widget--footer__title .hN, .heading--footer .article__author-name, .widget--footer__title .article__author-name, .heading--footer .comment__author-name, .widget--footer__title .comment__author-name, .heading--footer .score__average-wrapper, .widget--footer__title .score__average-wrapper, .heading--footer .score__label, .widget--footer__title .score__label, .heading--footer .widget_calendar caption, .widget_calendar .heading--footer caption, .widget--footer__title .widget_calendar caption, .widget_calendar .widget--footer__title caption, .article--billboard-small__title .hN, .article--billboard-small__title .article__author-name, .article--billboard-small__title .comment__author-name, .article--billboard-small__title .score__average-wrapper, .article--billboard-small__title .score__label, .article--billboard-small__title .widget_calendar caption, .widget_calendar .article--billboard-small__title caption, .post-nav-link__title, .comments-area-title .hN, .comments-area-title .article__author-name, .comments-area-title .comment__author-name, .comments-area-title .score__average-wrapper, .comments-area-title .score__label, .comments-area-title .widget_calendar caption, .widget_calendar .comments-area-title caption, .widget_calendar caption {
  font-size: 22px;
  font-size: 1.5714rem;
  line-height: 1.27316; }

h1 {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif;
  padding-top: 48px;
  padding-top: 2.086rem;
  padding-bottom: 48px;
  padding-bottom: 2.086rem;}

h2, .arqam-widget-counter li span, .beta {
    font-size: 30px;
    font-size: 2.15rem;
    line-height: 1.05348;
}

h2, .heading-category .hN {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif;  
  padding-top: 24px;
  padding-top: 1.043rem; }

h2.programme {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif;  
  padding-top: 24px;
  padding-top: 1.043rem;
  margin-top: 0px;
  margin-top: 0rem; }

@media only screen and (max-width: 899px) {
  h2 {
    font-size: 25px;
    font-size: 1.78571rem;
    line-height: 1.45; }
  h1 {
    font-size: 34px;
    font-size: 2.0rem; } }

h3.programme {
  font-family: TradeGothicNextLTPro-Hv, Sans-Serif;    
  margin-bottom: 0px;
  margin-bottom: 0rem;}

.widget--sidebar__title .hN {
  line-height: 1.0; }

/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/
.navigation--top {
  line-height: 0;
  background-color: #ffffff; }

.navigation--main {
  font-family: TradeGothicNextLTPro-Bd, Arial;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.0; }

@media only screen and (max-width: 1080px) {
  .navigation--main {
    font-size: 14px;
    font-size: 0.9rem;
    line-height: 0.8; }
  .nav--main > li > a {
    font-size: 14px;
    font-size: 0.9rem;
    line-height: 0.8; } }
    
.nav--main > li > a {
  font-family: TradeGothicNextLTPro-Bd, Arial;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.0;     
  padding-bottom: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 0.5rem;
  text-transform: uppercase; }

/* = SMS Location navigation map
-------------------------------------------------------------- */

#navMapContainer
{
    width:100%;
    max-width:600px;
    position:relative;
}

#smsMapImage
{    
    position:relative;
    left:0;
    top:0;
}

location {  
   color: #ffffff; 
   white-space:nowrap;
   position: relative;
   top: 0px; 
   left: 0; 
   width: auto;
   height: auto;
}

location:hover { 
   color: #ff0099; 
}

location div { 
   font: 14px/30px TradeGothicNextLTPro-Bd, Sans-Serif;
   letter-spacing: -0.5px;  
   background: #000000; /* fallback color */
   line-height: 1em;
   padding: 2px 5px 2px 5px; 
}

location span.spacer {
   padding:0 5px;
}

location div.date {
   font: 10px/12px TradeGothicNextLTPro-Lt, Sans-Serif;
}

@media screen and (max-width: 450px){
    location div { 
         font: 9px TradeGothicNextLTPro-Bd, Sans-Serif;
	 padding: 1px 1px 1px 1px; 
	}
    location span.spacer {
	padding:0 1px;
    }
    location div.date { 
         font: 4px/6px TradeGothicNextLTPro-Lt, Sans-Serif;
	 padding: 1px 1px 1px 1px; 
	}
}

/*------------------------------------*\
    Text
\*------------------------------------*/

/* default paragraph font size */
p {
  font-family: TradeGothicNextLTPro-Lt;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.51; 
}

html {
  font: 0.875em/1.71429 TradeGothicNextLTPro-Lt, "PT Sans", sans-serif;
  overflow-y: scroll;
  min-height: 100%; }

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/**
 * Image placement variations.
 */

.img--partner a{
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto; }

.pixcode--icon.square:hover, .pixcode--icon.circle:hover {
    background-color: #ff0099;}

.partner img{
    margin: 5px 10px 20px 10px;
    display: inline-block;
}

.partner:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/* = Image text overlay (with transparent box)
-------------------------------------------------------------- */
#overlaybase {
    position:relative;
    display:block;
    max-width:500px;
    width:100%;
    height:100%;
}

img.overlaybase {

}

img.overlaytop {
    position:absolute;
    top:10px;
    left:10px;
}

div#imagelink {
    background-image:  url(http://www.showmeshorts.co.nz/images/webprogramme/events/2014/wellingtonopening.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
}

overlayHead { 
   color: #ffffff; 
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead:hover { 
   color: #ff0099; 
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead span { 
   font-family: TradeGothicNextLTPro-Bd, Helvetica, Sans-Serif;
   font-size: 34px;
   font-size: 2.0rem;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.8);
   padding: 6.0px; 
   padding-bottom: 6.0px; 
}

overlayHead span.spacer {
   padding:0 5px;
   background: rgba(0, 0, 0, 0);
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr.sessionBreak {
  background: #ff0099;
  border-top: 2px solid;
  clear: both;
  color: #ff0099;
  height: 4px;
  width: 100%;
}

/*==========  $IMAGE WRAP  ==========*/
.image-wrap {
  background: #fff;}

/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Common form controls
 *
 * Shared size and type resets for form controls. Apply `.form-control` to any
 * of the following form controls:
 */
select,
textarea,
input[type="text"],
input[type="email"],
.form-control {}
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  .form-control:focus {
    outline: 1px solid #ff0099; }

.input-field {
  cursor: text;}

.email-field {
  margin-bottom: 0.5rem; }

/*=============  LINKS  =============*/

a.blueLink {
  color: #3366ff;
  font-weight: bold;
  text-decoration: none;
}

/*=============  TABLES  =============*/
table tr {
  border-style: none; }

#table--pink-stripes tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) {
  background-color: #d6eef0;}

#table--pink-stripes th {
    background: none repeat scroll 0% 0% #d0d0d0;}


.table--striped tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) {
  background-color: #252525;}


.control-group {
    display: inline-block; }

.controls {
    display: inline-block; 
    text-align: left;} 

/*===========  BLOCKQUOTES  & Captions ===========*/

blockquote {    
  quotes: "\201C" "\201D"; }
  blockquote p:before {
    content: "\201C";
    content: no-open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "\201D";
    content: no-close-quote; }
  blockquote q:before {
    content: "\2018";
    content: no-open-quote; }
  blockquote q:after {
    content: "\2019";
    content: no-close-quote; }

blockquote {
  font-family: TradeGothicNextLTPro-Lt, Sans-Serif;
  font-style: normal;
  color: #ec008c;      
  padding-left: 24px;
  padding-left: 1.71429rem;
  padding-top: 8px;
  padding-top: 0.5714rem;
  padding-bottom: 8px;
  padding-bottom: 0.5714rem;}

blockquote p {
  font-size: 18px;
  font-size: 1.25rem;
  line-height: 1.75; }    

blockquote:after {
    font-family: TradeGothicNextLTPro-Lt, Sans-Serif;
    content: none; }

.wp-caption, .gallery__item__caption, blockquote:before  {
  background: none; }

.wp-caption-text {
  font-family: TradeGothicNextLTPro-LtIt, Sans-Serif;
  font-style: normal;
  font-size: 14px;
  font-size: 1.0rem;
  line-height: 1.5;
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color: #ff0099;
  border-bottom-style: solid;
  width: 100%;
  padding: 5px;
  padding: 0.35714286rem;
  margin: 0.0px;
  margin: 0.0rem; }


