/*
Theme Name: PinkBucket
Theme URI: http://pixelgrade.com/demos/bucket
Author: PixelGrade Team
Author URI: http://pixelgrade.com
Description:  Child theme for Show Me Shorts. Based on Bucket: a surprising premium WordPress theme aimed at photographers in need for a solution that focuses on what matters most to them: their work. Every feature was carefully chosen and designed to ease the way to that perfect photography portfolio website.
Template: bucket
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bucket_txtd
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready

*/

/* Add your custom CSS rules that overwrite the ones in the main Lens theme here */

/*------------------------------------*\
               HEADER
\*------------------------------------*/

@media only screen and (max-width: 899px) {
  .site-header {
    height: 72px;
    height: 5.14286rem;
    width: 75%; } }

@media only screen and (min-width: 900px) {
  .site-header {
    padding-bottom: 20px;
    height: 144px;
    height: 10.28571rem; } }

/* Hide featured banner on mobile */
@media screen and (max-width: 899px){
    .billboard.pixslider.js-pixslider.arrows--outside.js-pixslider-mobile.rsAutoHeight.rsHor.rsFade.slider--loaded{
    display: none;
    }
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1 {
  padding-top: 48px;
  padding-top: 2.086rem; }

h2, .heading-category .hN {
  padding-top: 24px;
  padding-top: 1.043rem; }

h2.programme {
  padding-top: 24px;
  padding-top: 1.043rem;
  margin-top: 0px;
  margin-top: 0rem; }

h3.programme {
  margin-bottom: 0px;
  margin-bottom: 0rem;}


/*------------------------------------*\
               NAVIGATION
\*------------------------------------*/
.navigation--top {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 2.01;
  background-color: #ffffff; }

.navigation--main {
    font-family: "Arvo", serif;
    font-size: 0.95rem;
    line-height: 1.25;}

.nav--main > li > a {
    padding-bottom: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.5rem;
    text-transform: uppercase; }

/* = SMS Location navigation map
-------------------------------------------------------------- */

#navMapContainer
{
    width:100%;
    max-width:600px;
    position:relative;
}

#smsMapImage
{    
    position:relative;
    left:0;
    top:0;
}

location {  
   color: #ffffff; 
   white-space:nowrap;
   position: relative;
   top: 0px; 
   left: 0; 
   width: auto;
   height: auto;
}

location:hover { 
   color: #ff0099; 
}

location div { 
   font: bold 14px/30px Arvo, Sans-Serif;
   letter-spacing: -0.5px;  
   background: #000000; /* fallback color */
   line-height: 1em;
   padding: 2px 5px 2px 5px; 
}

location span.spacer {
   padding:0 5px;
}

location div.date {
   font: italic 10px/12px Arvo, Sans-Serif;
}

@media screen and (max-width: 450px){
    location div { 
         font: bold 6px/8px Arvo, Sans-Serif;
	 padding: 1px 1px 1px 1px; 
	}
    location span.spacer {
	padding:0 1px;
    }
    location div.date { 
         font: italic 4px/6px Arvo, Sans-Serif;
	 padding: 1px 1px 1px 1px; 
	}
}

/*------------------------------------*\
    Text
\*------------------------------------*/

/* default paragraph font size */
p {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.51; 
}

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/**
 * Image placement variations.
 */

.img--partner a{
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto; }

.pixcode--icon.square:hover, .pixcode--icon.circle:hover {
    background-color: #ff0099;}

.partner img{
    margin: 5px 10px 20px 10px;
    display: inline-block;
}

.partner:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/* = Image text overlay (with transparent box)
-------------------------------------------------------------- */
#overlaybase {
    position:relative;
    display:block;
    max-width:500px;
    width:100%;
    height:100%;
}

img.overlaybase {

}

img.overlaytop {
    position:absolute;
    top:10px;
    left:10px;
}

div#imagelink {
    background-image:  url(http://www.showmeshorts.co.nz/images/webprogramme/events/2014/wellingtonopening.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
}

overlayHead { 
   color: #ffffff; 
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead:hover { 
   color: #ff0099; 
   position: relative;
   top: 00px; 
   left: 0; 
   width: auto;
   height: auto;
}

overlayHead span { 
   font-family: Arvo, Helvetica, Sans-Serif;
   font-size: 24px;
   font-size: 1.5rem;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.8);
   padding: 6.0px; 
   padding-bottom: 5.0px; 
}

overlayHead span.spacer {
   padding:0 5px;
   background: rgba(0, 0, 0, 0);
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr.sessionBreak {
  background: #ff0099;
  border-top: 2px solid;
  clear: both;
  color: #ff0099;
  height: 0px;
  width: 100%;
}

/*==========  $IMAGE WRAP  ==========*/
.image-wrap {
  background: #fff;}

/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Common form controls
 *
 * Shared size and type resets for form controls. Apply `.form-control` to any
 * of the following form controls:
 */
select,
textarea,
input[type="text"],
input[type="email"],
.form-control {}
  select:focus,
  textarea:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  .form-control:focus {
    outline: 1px solid #ff0099; }

.input-field {
  cursor: text;}

.email-field {
  margin-bottom: 0.5rem; }

/*=============  TABLES  =============*/
table tr {
  border-style: none; }

#table--pink-stripes tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) {
  background-color: #f9cee8;}

#table--pink-stripes th {
    background: none repeat scroll 0% 0% #eda1cf;}


.table--striped tbody tr:nth-of-type(odd), table tbody tr:nth-of-type(odd) {
  background-color: #252525;}


.control-group {
    display: inline-block; }

.controls {
    display: inline-block; 
    text-align: left;} 

/*===========  BLOCKQUOTES  & Captions ===========*/

blockquote {
  quotes: "\201C" "\201D"; }
  blockquote p:before {
    content: "\201C";
    content: no-open-quote; }
  blockquote p:after {
    content: "";
    content: no-close-quote; }
  blockquote p:last-of-type:after {
    content: "\201D";
    content: no-close-quote; }
  blockquote q:before {
    content: "\2018";
    content: no-open-quote; }
  blockquote q:after {
    content: "\2019";
    content: no-close-quote; }

blockquote {
  padding-left: 24px;
  padding-left: 1.71429rem;
  padding-top: 8px;
  padding-top: 0.5714rem;
  padding-bottom: 8px;
  padding-bottom: 0.5714rem;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.75; }

blockquote:after {
    content: none; }

.wp-caption, .gallery__item__caption, blockquote:before  {
  background: none; }

.wp-caption-text {
  line-height: 1.5;
  border-width: 2px;
  border-bottom-width:2px;
  border-bottom-color: #ff0099;
  border-bottom-style: solid;
  width: 100%;
  padding: 5px;
  padding: 0.35714286rem;
  margin: 0.0px;
  margin: 0.0rem; }


