<div class="image_carousel">
    <div id="featuredContent">
	<div class="slide">
	     <a href="http://www.showmeshorts.co.nz/deadline2014"><img src="http://www.showmeshorts.co.nz/images/featured/stackCassettes2.jpg" alt="Deadline 2014" width="600" height="360" />
	     <div>
  	       <h4>Final extended deadline for short films and music videos July 1</h4>
	       <p>The deadline for entries into the ninth annual Show Me Shorts Film Festival is fast approaching! Read more about the submission process and awards here.</p>
	     </div>
             </a>
	</div>
	<div class="slide">
	     <a href="http://www.showmeshorts.co.nz/sr-july-2014"><img src="http://www.showmeshorts.co.nz/images/featured/bisff.jpg" alt="Screening Room" width="600" height="360" />
	     <div>
  	       <h4>Screening Room: Shorts from the BISFF</h4>
	       <p>Sébastien Simon from the Busan International Short Film Festival in Korea shares some recent shorts from their festival. These films manage to highlight familiar themes of generational struggle in otherwise culturally contrasting settings.</p>
	     </div>
             </a>
	</div>
	<div class="slide">
	     <a href="http://www.showmeshorts.co.nz/short-film-community/"><img src="http://www.showmeshorts.co.nz/images/featured/openingWellington.jpg" alt="Connect with your Short Film Community" width="600" height="360" />
	     <div>
  	       <h4>Connect with your Short Film Community</h4>
	       <p>In this article, we provide links to many great organisations and resources that are active in the New Zealand short film community.</p>
	     </div>
             </a>
	</div>
    </div>
    <div class="clearfix"></div>
    <div class="center">
      <a class="prev" id="featuredContent_prev" href="#"><span>prev</span></a>
      <a class="next" id="featuredContent_next" href="#"><span>next</span></a>
    </div>
</div>

<hr class="frameBreak">
<br>
<h1 style="color:#ff0099">Latest News:</h1>

