<h1>Partners:</h1>
<br>

<em>major sponsors</em>

<div class="partner">

<a href="http://www.asbcommunitytrust.org.nz/">
<img title="ASB Community Trust" src="http://www.showmeshorts.co.nz/images/partners/2013/asbCommunity.jpg" alt="ASB Community Trust" width="180"></a>
<a href="http://www.rpmpictures.co.nz/">
<img title="RPM Pictures" src="http://www.showmeshorts.co.nz/images/partners/2013/rpm.png" alt="RPM Pictures" width="235"></a>
<a href="http://www.phd3.co.nz/">
<img title="pHd3 Design" src="http://www.showmeshorts.co.nz/images/partners/2013/phd3.jpg" alt="pHd3 Design" width="160"></a>

<br>
&nbsp;

<a href="http://www.rialtochannel.co.nz/">
<img title="Rialto Channel" src="http://www.showmeshorts.co.nz/images/partners/2013/rialto.png" alt="Rialto Channel" width="170"></a>
<a href="http://www.commtrust.org.nz/">
<img title="Canterbury Community Trust" src="http://www.showmeshorts.co.nz/images/partners/2013/canterburyCommunity.png" alt="Canterbury Community Trust" width="130"></a>
<a href="http://www.aucklandcouncil.govt.nz/EN/AboutCouncil/representativesbodies/LocalBoards/AlbertEdenlocalboard/Pages/default.aspx">
<img title="Albert-Eden Local Board" src="http://www.showmeshorts.co.nz/images/partners/2013/albertEdenLB.jpg" alt="Albert-Eden Local Board" width="160"></a>
<a href="http://www.oct.org.nz/">
<img title="Otago Community Trust" src="http://www.showmeshorts.co.nz/images/partners/2013/otago.jpg" alt="Otago Community Trust" width="150"></a>

<br>

<a href="http://www.flicks.co.nz/">
<img title="Flicks.co.nz" src="http://www.showmeshorts.co.nz/images/partners/2013/flicks.jpg" alt="Flicks.co.nz" width="155"></a>
<a href="http://www.georgefm.co.nz/">
<img title="George FM" src="http://www.showmeshorts.co.nz/images/partners/2013/GeorgeFM.png" alt="George FM" width="135"></a>
<a href="http://www.filmauckland.com">
<img title="Film Auckland" src="http://www.showmeshorts.co.nz/images/partners/2013/filmAuckland.gif" alt="Film Auckland" width="165"></a>
<a href="http://www.starnow.co.nz/link.aspx?l=15169">
<img title="StarNow" src="http://www.showmeshorts.co.nz/images/partners/2013/starNow.jpg" alt="StarNow" width="155"></a>

<br>&nbsp;
<div class="large">
<a style="color:#fff;font-weight:700" class="sms button" href="http://www.showmeshorts.co.nz/the-awards">Awards Partners</a>
<a style="color:#fff;font-weight:700" class="sms button" href="http://www.showmeshorts.co.nz/opening-nights">Opening Night Partners</a>
<a style="color:#fff;font-weight:700" class="sms button" href="http://www.showmeshorts.co.nz/workshops">Education Partners</a>
</div>

<br>&nbsp;
