@import "shop";
@import "single";
@import "cart";
@import "checkout";


.woocommerce{
    .woocommerce-message, .woocommerce-error, .woocommerce-info{
        text-shadow: none;
        background: none;
        border: 1px solid #c7c0c7;
        padding: $_u !important;
        box-shadow: none;
        border-radius: 0;

        &:before{
            content: none;
        }

        p{
            margin: 0;
        }
    }

    .woocommerce-error {
        border: 1px solid red;
    }
}