.woocommerce table.shop_table{
    padding-bottom: 0;
    border: 0;
    border-bottom: 5px solid black;
    border-collapse: collapse;
    border-radius: 0;

    td{
        border-top: 0;
    }

}

.woocommerce-page form p.form-row-wide{
    padding-left: 0;
    padding-right: 0;
}

.cart-form, .shop_table, .cart_totals-table {
    td .amount{
        color: black;
        @include font-size(22px);
    }
}

.cart_totals-table td{
    @include media-query(lap-and-up) {
        padding-left: 0;
    }
}

td.product-quantity .quantity{
    margin-left: 0;
}

.coupon label{
    display: inline-block;
}

.cart_totals table{
    padding-bottom: 0;
}

//Shipping Calculator
.woocommerce-page {
    .cart-collaterals form.shipping_calculator{
        float: left;
        clear: none;
        width: 100%;
    }

    .shipping-calculator-form {
        width:100%;
    }

    .shipping-calculator-button {
        &:after{
            content: none !important;
        }
    }
}


.woocommerce-page .shop_table.cart .quantity{
    input.qty, .minus, .plus{
	    border-radius: 0;
    }  

    .minus, .plus{
        background: none;
        box-shadow: none;
    }
} 

.woocommerce-page .woocommerce + .separator{
    display: none;
}

.woocommerce-page .shop_table.cart input.btn{
    line-height: 2.167;
}

.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table{
	border-radius: 0;
    border-collapse: collapse;
    margin-bottom: $_u2;

    td, th{
        padding: $_u2;
    }

    th{
        width: 48%;
    }

    td, td span{
        font-family: $base-font-family;
        color: black;
    }

    td span.amount {
        color: black;
        font-size: 22px;
        font-size: 1.57143rem;
        line-height: 1.10091;
        font-weight: normal;
    }    
}

.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text{
    padding: 0 5px;
    width: auto;
    line-height: 1.8;
}

body.woocommerce .cart-collaterals .cart_totals, body.woocommerce-page .cart-collaterals .cart_totals{
    float: none;
    width: auto;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table{
    border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;

    tr{
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

	&.cart {
		// http://css-tricks.com/responsive-data-tables/
		@include media-query(palm) {
			/* Force table to not be like tables anymore */
			&, thead, tbody, th, td, tr {
				display: block;
			}

			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			tr {
				border: 1px solid #ccc;
			}

			td {
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee;
				position: relative;
				padding-left: 50%;
			}

			td:before {
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 6px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
			}

			/*
			Label the data
			*/
			td:nth-of-type(1):before {
				content: "Thumbnail";
			}
			td:nth-of-type(2):before {
				content: "Product";
			}
			td:nth-of-type(3):before {
				content: "Price";
			}
			td:nth-of-type(4):before {
				content: "Quantity";
			}
			td:nth-of-type(5):before {
				content: "Total";
			}
			td:nth-of-type(6):before {
				content: "Remove product ";
			}
		}
	}
}

.wc-proceed-to-checkout {
    max-width: 300px;
    text-align: right;
    float: right;

    .button {
        @extend .btn;
        background-color: $dark !important;
        border-radius: 0 !important;

        &.hover {
            background-color: red !important;
        }
    }
}

.woocommerce-shipping-calculator {
    margin-top: 20px;
}

.shipping-calculator-form {
    margin-bottom: 20px;

    button[type=submit] {
        @extend .btn;
        border-radius: 0 !important;
        margin-top: 20px;
    }
}