<h3 class="programme">15 November</h3>

<h2 class="programme"><a href="http://www.centralcinema.co.nz">Central Cinema</a></h2>
21 Centennial Ave
Alexandra

<h3>To reserve tickets, email Email info@centralcinema.co.nz</h3>
<h4>Ticket Prices:</h4>
$10 general admission
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="alexandra-2014">
<tbody>
<div>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 4pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>