Arts and crafts are so hot right now. Knitting is back, and somehow even quilting is hip. What drives us to create? The characters in these films are dancing with their own shadows in one way or another. Art helps to lift them up into the light.

Estimated total run time: 82 minutes.
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Another Day by Antix and Tim Richards </em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/anotherdaybyantixandtimrichards.jpg" />
Music Video, 4 mins, NZ
Dir/Writ/Prod: James Barr

A siren sings two trans-dimensional lovers out into night-time Auckland to reunite.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Helmut Makes a Quilt</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/helmutmakesaquilt.jpg" />
Mystery, 16 min, NZ
Dir: Greg Wood Writ: Greg Wood, Levi Slaven Prod: Declan Cahill

When pen-pals Marion and Helmut decide they can't be apart a moment longer, they use their passion for quilting to break him out of prison.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Queenie</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/queenie.jpg" />
Animation, 11 mins, NZ
Dir: Paul Neason Writ: Jeremy Liss, Sam Burt Prod: Melissa Donald, Michelle Savill

An animated film following Danny, a university Geography tutor in his 30s, as he embarks on a cutting edge academic project, which has nothing to do with his ex-wife.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Road to Whakarae</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/theroadtowhakarae.jpg" />
Music, 3 mins, NZ
Dir/Writ/Prod: Tim Worrall Dir/Prod: Aaron Smart

Deep in the Urewera Ranges, kaumātua Beam Titoko puts on his best hat, digs out his old guitar and sings a song of home. This affectionate portrait of a community pays tribute to the strength of whānau.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Dive</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/dive.jpg" />
Drama, 13 mins, NZ
Dir/Writer: Matthew Saville  Prod: Julia Parnell, Alexander Gandar, Brad Haami

George has hit rock bottom. He’s fallen so low that even his reflection has turned its back on him. When it disappears altogether, George sets off on a quest to haul himself back from the abyss.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Speed Dating</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/speeddating.jpg" />
Romance, 11 mins, USA
Dir/Writ/Prod: Meghann Artes Prod: Joseph Lyons, Nick Schmidt

In this Amélie-style romance, Ava encounters an absurd range of characters as she makes a last ditch effort to meet someone and begins to wonder if being single is not so bad after all.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Load</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/load.jpg" />
Animation, 9 mins, Israel
Dir: Niv Shpigel, Robert Moreno Writ/Prod: Niv Shpigel

A man is sinking under the weight of his own memories. To survive, he must confront the question: What would we give up in order to keep on going?
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Rhino Full Throttle (Nashorn im Galopp) </em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/rhinofullthrottle(nashornimgalopp).jpg" />
Romantic Comedy, 15 mins, Germany
Dir/Writ: Erik Schmitt Writ: Stephan Müller Prod: Henning Kamm

In this playful romance, Bruno roams the streets of Berlin with his head full of questions about the soul of the city and unexpectedly meets a kindred spirit.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>