<h3 class="programme">7 - 19 November</h3>

<h2 class="programme"><a href="http://www.capitolcinema.co.nz">Capitol Cinema</a></h2>
610 Dominion Road
Balmoral, Auckland
Ph: 09 623 2000
<h3>To reserve tickets, call Ph: 09 623 2000</h3>
<h4>Ticket Prices:</h4>
$15 general admission
$12 student
$ 9 senior/child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="auckland-central-2014">
<tbody>
<div>
<tr>
<td width="25">Fri 7 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Fri 7 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sat 8 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Sat 8 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood*"><strong> In The Neighbourhood*</strong></a> (See *1)</td>
</tr>
<tr>
<td width="25">Sun 9 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Sun 9 Nov</td>
<td width="25"> 8.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Mon 10 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Mon 10 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Tue 11 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Tue 11 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Wed 12 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Wed 12 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Thu 13 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Thu 13 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Mon 17 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Mon 17 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Tue 18 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Tue 18 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 8:30pm</td>
<td width="25"><strong> Audience Choice</strong></td>
</tr>
</div>
</tbody>
</table>
[1] (*World premiere of Chinese short film Home, with filmmakers in attendance.)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>