<h3 class="programme">November 9</h3>

<h2 class="programme"><a href="http://www.thevic.co.nz">The Vic</a></h2>
56 Victoria Rd
Devonport, Auckland
Ph: 09 446 0100
<h3>To reserve tickets, call Ph: 09 446 0100</h3>
<h4>Ticket Prices:</h4>
$14 general admission
$11 student
$10 senior
$9 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="devonport-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 9 Nov</td>
<td width="25"> 5.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>