<h3 class="programme">16 November</h3>

<h2 class="programme"><a href="http://www.rialto.co.nz/cinema/dunedin">Rialto Cinemas</a></h2>
11 Moray Place
Dunedin
Ph 03 474 2200
<h3>To reserve tickets, call Ph 03 474 2200</h3>
<h4>Ticket Prices:</h4>
$16 general admission
$13 concession (student, child)
$10 senior
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="dunedin-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 6.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>