<h3 class="programme">22 November</h3>

<h2 class="programme"><a href="http://www.lidocinema.co.nz">Lido Cinema</a></h2>
The Balcony, Centre Place
501 Victoria Street, Hamilton
Ph: 07 838 9010
<h3>To reserve tickets, call Ph: 07 838 9010</h3>
<h4>Ticket Prices:</h4>
$15 general admission
$12 student
$ 9 senior/children
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="hamilton-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 23 Nov</td>
<td width="25"> 1:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>