<h3 class="programme">16, 19 & 23 November</h3>

<h2 class="programme"><a href="http://hn.cinemagold.co.nz">Cinema Gold</a></h2>
11 Joll Rd
Havelock North
Ph 06 877 9016
<h3>To reserve tickets, call Ph 06 877 9016</h3>
<h4>Ticket Prices:</h4>
$16.40 general admission
$14.40 student
$12.40 senior
$11.40 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="havelock-north-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 2:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 7:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
<tr>
<td width="25">Sun 23 Nov</td>
<td width="25"> 2:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>