This selection of all our most crowd pleasing short films has been put together for one-off screenings in some of our smaller locations. It’s highly entertaining, and great fun! 

Estimated total run time: 74 minutes
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Robotronic by the Dead Beat Boys</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/robotronicbythedeadbeatboys.jpg" />
Music Video, 4 mins, NZ
Dir/Writ/Prod: Paul Innes

Two squash players go head to head in a burst of high energy, colour and intensity.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>5 Metres 80 (5 Mètres 80)</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/5metres80(5mètres80).jpg" />
Animation, 5 mins, France
Dir/Writ: Nicolas Deveaux Prod: Aurelia Sellier, Bruno le Levier, Lionel Fages, Majid Loukil

A herd of giraffes embarks on a sequence of high-flying acrobatic dives!
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Rhino Full Throttle (Nashorn im Galopp) </em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/rhinofullthrottle(nashornimgalopp).jpg" />
Romantic Comedy, 15 mins, Germany
Dir/Writ: Erik Schmitt Writ: Stephan Müller Prod: Henning Kamm

In this playful romance, Bruno roams the streets of Berlin with his head full of questions about the soul of the city and unexpectedly meets a kindred spirit.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>One-Minute Time Machine</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/one-minutetimemachine.jpg" />
Romantic Comedy, 6 mins, USA
Dir: Devon Avery Writ: Sean Crouch Prod: Brian Dietzen, Carlos Foglia

James is all too eager to put his one-minute time machine to use in winning the heart of Regina, until he discovers the unexpected consequences of his actions.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Coconut</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/coconut.jpg" />
Road Trip, 10 mins, NZ
Dir/Writ: Charlie Bleakley Writ: Cohen Holloway Prod: Alex Clark

Friendship is put to the test in this 'bromantic' comedy featuring two road tripping best friends who will do anything for each other.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Condom</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/condom.jpg" />
Animation, 4 mins, AUS
Dir/Writ: Sheldon Lieberman Prod: Teagan Thisby Young

A hilarious animation from the makers of 'The Mudcrab'. When six-year-old Spike finds a used condom in the park, Dadda has to explain what it is for.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Snowmen</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/snowmen.jpg" />
Comedy, 15 mins, NZ
Dir: Jonathan Brough Writ: Greg Johnson, John Leigh Prod: Desray Armstrong

After a night out drinking, Barry and Bryan wake up in a vast world of ice. Where are they and how did they get there? A comedy about friendship and finding your way home.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Ross and Beth</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/rossandbeth.jpg" />
Drama, 15 mins, NZ
Dir/Writ: Hamish Bennett Prod: Orlando Stewart

Ross and Beth is the story of a humble New Zealand farming couple, a sudden upheaval and an unlikely saviour.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>