Do you know your neighbours? Are they the lovely lend-you-sugar kind, or the creepy funny-smell-from-the-basement sort? This collection of short films has both, plus some other amusing characters to meet or spy on. Reminding us all to be more neighbourly.

Estimated total run time: 88 minutes
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Make You Mine by Anna Coddington</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/makeyouminebyannacoddington.jpg" />
Music Video, 4 mins, NZ
Dir/Writ/Prod: Aidee Walker

Director Aidee Walker weaves a touching story of love and loss for elderly neighbours.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Cold Snap</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/coldsnap.jpg" />
Coming of Age, 11 mins, NZ
Dir/Writ: Leo Woodhead Writer: Paul Stanley Ward Prod: Rebekah Kelly

A boy in a forest, trapping animals for a living. The woman next door, planning a fresh start. As a desolate winter sets in, their lives begin to intertwine. 
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Dog Food</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/dogfood.jpg" />
Horror, 18 mins, USA
Dir/Writ/Prod: Brian Crano Prod: Brian Crano, David Joseph Craig, Jay Judah, Max Hurwitz, Michael Klein

When Declan loses his dog and best friend Ralphie, his life starts to unravel. 
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Home</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/home.jpg" />
Drama, 15 mins, China
Dir/Writ/Prod: Han Yu Prod: Hao Tian 

What would you see if you could peep through a hole in the wall into someone else's life? This unique film records ten years of change in one small apartment, as families grow and the world changes.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Uphill</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/uphill.jpg" />
Drama, 15 mins, NZ
Dir/Writ: Jackie van Beek Prod: Aaron Watson

A woman craving solitude escapes to a tiny hut in the mountains but her dreams of isolation are thwarted by a couple that also turns up for the night.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Loner</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/loner.jpg" />
Comedy, 10 mins, NZ
Dir/Writ: Wendell Cooke Writer: Mike Yule Prod: Jeremy Macey

A socially awkward man struggles to find a friend who is willing to support his application for a gun license.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Loser Cruiser</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/losercruiser.jpg" />
Drama, 4 mins, NZ
Dir/Writ/Prod: Becca Barnes, Alwyn Dale 

10-year-old Sammy is stopped by a stranger in a van who insists her Mum is sick and she must come with him. She is about to learn a valuable lesson about the rules of the real world.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Whisker</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/whisker.jpg" />
Comedy, 11 mins, NZ
Dir: Steve Saussey Writ: Corey Chalmers Prod: Yolande Dewey

A homeless man and his dog discover judging night at a local beard-growing contest. Desperate for the meat pack prize, but with no beard to speak of, he enters the competition and takes the stage.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>