Gather around and the camp fire. These short films have tales to tell from the margins of society. From the mouths of children, outcasts, misfits and criminals, come the most articulate, delightful and moving stories you will hear this year.

Estimated total run time: 79 minutes
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Cry If You Want To by Mulholland</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/cryifyouwanttobymulholland.jpg" />
Music Video, 4 mins, NZ
Dir/Prod: Bradley Rogerson Writ: Jolyon Mulholland

A mysterious intergalactic traveller shares his music surrounded by visual soundscapes and psychedelic motion art.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Last 40 Miles</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/thelast40miles.jpg" />
Animation, 14 mins, USA
Dir/Writ: Alex Hannaford Prod: Brent Schumacher, David Roth, Jeff Roth, Meg Mulloy, Peter Hannaford

The moving true story of a condemned man's last journey, from a Texas cell to the execution chamber, accompanied only by his memories, the unexpected warmth of the guard escorting him, and his ever-present hope. 
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Phone Call</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/thephonecall.jpg" />
Drama, 19 mins, UK
Dir/Writ/Prod: Mat Kirkby Writ/Prod: James Lucas Prod: Michelle Kirkman

Heather (Sally Hawkins) is a shy lady who works in a helpline call centre. When she receives a phone call from a mystery man (Jim Broadbent), she has no idea that the encounter will change her life forever.        
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>In the Rubbish Tin</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/intherubbishtin.jpg" />
Animation, 4 mins, NZ
Dir/Writ: Riwia Brown Prod: Catherine Fitzgerald

Abandoned on the morning of her birthday, Pippa escapes into an imaginary world with her best friend Chubby.        
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Box of Sound</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/boxofsound.jpg" />
Music Documentary, 12 mins, USA
Dir/Writ: Chuck Przybyl Prod: Mark Salach

Anything can be used to make music, as these circuit benders from Chicago prove with their cigar boxes adapted into synthesizers that create truly unique music.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Toilets</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/toilets.jpg" />
Romantic Comedy, 15 mins, UK
Dir/Writ: Gabriel Bisset-Smith Prod: Andy Hui, Josh Thomas, Ravi Amaratunga

The lives of three characters comically connect in different toilets, repeatedly over many years. They grow and change, come to terms with who they are, but some things remain the same.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Sounds Perfect</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/soundsperfect.jpg" />
Mockumentary, 7 mins, NZ
Dir/Writ/Prod: Allan George, Greg Stubbings Prod: Ben Fowler

Dave is a highly dedicated 'audio enhancement engineer' (foley artist) in the film industry. The adult film industry.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Condom</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/condom.jpg" />
Animation, 4 mins, AUS
Dir/Writ: Sheldon Lieberman Prod: Teagan Thisby Young

A hilarious animation from the makers of 'The Mudcrab'. When six-year-old Spike finds a used condom in the park, Dadda has to explain what it is for.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>