<h3 class="programme">7 & 9 November</h3>

<h2 class="programme"><a href="http://www.matakanacinemas.co.nz">Matakana Cinemas</a></h2>
Matakana Village, 2 Matakana Valley Road
Matakana, Auckland
Ph 09 423 0218
<h3>To reserve tickets, call Ph 09 423 0218</h3>
<h4>Ticket Prices:</h4>
$15.50 general admission
$13.50 student
$12.50 senior
$10 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="matakana-2014">
<tbody>
<div>
<tr>
<td width="25">Fri 7 Nov</td>
<td width="25"> 8:30 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
<tr>
<td width="25">Sun 9 Nov</td>
<td width="25"> 6:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>