Introduce your kids to the wonder of short film. From high diving giraffes to the conservation of bees, and farming to whānau, this collection of child-friendly stories offers something for everyone. Most appropriate for children 8 years+. This session is also available for school group bookings.

Estimated total run time: 62 minutes
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Return of the Worm by T54</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/returnofthewormbyt54.jpg" />
Music Video, 2 mins, NZ
Dir/Writ/Prod: Sam Galloway

Directed by Samuel Galloway in his garage, 'Return of the Worm' features a toddler, a giant worm costume, and a city of cardboard boxes.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>5 Metres 80 (5 Mètres 80)</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/5metres80(5mètres80).jpg" />
Animation, 5 mins, France
Dir/Writ: Nicolas Deveaux Prod: Aurelia Sellier, Bruno le Levier, Lionel Fages, Majid Loukil

A herd of giraffes embarks on a sequence of high-flying acrobatic dives!
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Eleven</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/eleven.jpg" />
Coming of Age, 13 mins, NZ
Dir: Abigail Greenwood Writ/Prod: Kate Prior Prod: Judith Trye

Emily is eleven, and belonging is important. When her friend Rebecca doesn't make the cool grade, Emily has to choose between acting independently or being led by the cool crowd. 
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Little Cousteau (Maly Cousteau) </em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/littlecousteau(malycousteau).jpg" />
Animated Adventure, 8 mins, Czech Republic
Dir/Writ: Jakub Kouril Prod: Bara Prikaska  

Maly sets off on his own animated undersea adventure in a snowy city, inspired by the famous French explorer Jacques Cousteau.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Ross and Beth</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/rossandbeth.jpg" />
Drama, 15 mins, NZ
Dir/Writ: Hamish Bennett Prod: Orlando Stewart

Ross and Beth is the story of a humble New Zealand farming couple, a sudden upheaval and an unlikely saviour.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Hero Pose</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/theheropose.jpg" />
Drama, 12 mins, USA
Dir/Writ/Prod: Mischa Jakupcak Prod: Robyn Miller

Mia is eight years old and wants to do anything but hang out at her dad’s house trying to sell an old beat-up car. A story about a father and daughter finding time to pause and connect.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Lookout (Vigia)</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/lookout(vigia).jpg" />
Animation, 7 mins, Switzerland/France
Dir/Writ: Marcel Barelli Prod: Nicolas Burlet

A grandfather tells a story that he invented: Because of pollution, pesticides, and other toxic substances, a bee decides to leave her hive, looking for a more comfortable place to live.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>