<h3 class="programme">15 & 16 November</h3>

<h2 class="programme"><a href="http://www.4thwalltheatre.co.nz">4th Wall Theatre</a></h2>
11 Baring Terrace
New Plymouth
Ph 0800 484 925
<h3>To reserve tickets, call Ph 0800 484 925</h3>
<h4>Ticket Prices:</h4>
$15 general admission
$12 concession (senior/student)
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="new-plymouth-2014">
<tbody>
<div>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 7:30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 4:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>