<h3 class="programme">13 - 17 November</h3>

<h2 class="programme"><a href="http://www.limelightcinema.co.nz">Limelight Cinema</a></h2>
239 Thames Street
Oamaru
Ph 03 434 1077
<h3>To reserve tickets, call Ph 03 434 1077</h3>
<h4>Ticket Prices:</h4>
$15 general admission
$10 senior
$12 student
$9 child
$7.50 Schools Screening tickets
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="oamaru-2014">
<tbody>
<div>
<tr>
<td width="25">Thu 13 Nov</td>
<td width="25"> 7.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 7.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 3.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 8.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 1.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 6.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Mon 17 Nov</td>
<td width="25"> 7.30pm</td>
<td width="25"><strong> Audience Choice</strong></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>