<h3 class="programme">13 - 22 November</h3>

<h2 class="programme"><a href="http://pn.cinemagold.co.nz">Cinema Gold</a></h2>
70 Broadway Ave
Palmerston North
Ph 06 353 1902
<h3>To reserve tickets, call Ph 06 353 1902</h3>
<h4>Ticket Prices:</h4>
$16.40 general admission
$14.40 student
$12.40 senior
$11.40 children
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="palmerston-north-2014">
<tbody>
<div>
<tr>
<td width="25">Thu 13 Nov</td>
<td width="25"> 8.15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 8.15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 1.00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 6.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 1.00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 6.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Sat 22 Nov</td>
<td width="25"> 6.30pm</td>
<td width="25"><strong> Audience Choice</strong></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>