<h3 class="programme">16 November</h3>

<h2 class="programme"><a href="http://www.dtcoastlands.co.nz">Downtown Cinemas Coastlands</a></h2>
150 Rimu Road
Paraparaumu
Ph 04 298 6175
<h3>To reserve tickets, call Ph 04 298 6175</h3>
<h4>Ticket Prices:</h4>
$16.40 general admission
$14.40 student
$12.40 senior
$11.40 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="paraparaumu-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 1.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>