[caption align="alignright" width="211"]<a href="http://www.showmeshorts.co.nz/images/programmes/sms2014_programme.pdf"><img src="http://localhost/sms2014/images/webprogramme/events/2014/programmeCover2014.jpg" alt="Click to download the print programme" width="211" height="300" class="size-full wp-image-3116" /></a> Click to download the print programme[/caption]<p>Show Me Shorts Film Festival is proud to present our 9th annual Programme. Browse by our 20 fantastic locations throughout New Zealand and our six themed sessions below.</p>

<p>Also be sure to check out our events, kicking off the festival in style with the <a href="http://www.showmeshorts.co.nz/events/auckland-opening-night/" title="Auckland Opening Night">Rialto Channel Auckland Opening Night & Awards Ceremony</a> at The Civic in Auckland and the <a href="http://www.showmeshorts.co.nz/events/wellington-opening-night/" title="Wellington Opening Night">Rialto Channel Wellington Opening Night</a> at Paramount in Wellington. The free-to-the-public <a href="http://www.showmeshorts.co.nz/events/short-film-talks/" title="Short Film Talks">Short Film Talks</a> in Auckland and Wellington are fantastic ways to learn more about shorts from some of NZ's top short film makers.</p>

<p>You can also find more about this year's festival from the <a href="http://www.showmeshorts.co.nz/programme/welcome">Director's Welcome</a> and download a <a href="http://www.showmeshorts.co.nz/images/programmes/sms2014_programme.pdf" title="PDF of the 2014 Show Me Shorts Film Festival">PDF of our print programme</a>. For a taste of what is in store this year, be sure to check out <a href="http://youtu.be/6c799L37V2g" target="_blank">our trailer here</a> or further below.</p>
<br>

<br>



[raw]

<hr class="sessionBreak"><br style="clear:both;" />



<h3>Locations</h3>

<div id="navMapContainer">
<img id="smsMapImage" src="http://localhost/sms2014/programme/2014/smsMap2014.png" />

<div style="position: absolute; left: 23%; top: 79%;">
<a  href ="http://localhost/sms2014/programme/alexandra"><location><div>
Alexandra<span class='spacer'></span>
<br /><div class='date'>15 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 15%; top: 22%;">
<a  href ="http://localhost/sms2014/programme/auckland-central"><location><div>
Auckland Central<span class='spacer'></span>
<br /><div class='date'>7 - 19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 28%; top: 14%;">
<a  href ="http://localhost/sms2014/programme/waiheke-island"><location><div>
Waiheke Island<span class='spacer'></span>
<br /><div class='date'>8 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 9%; top: 15%;">
<a  href ="http://localhost/sms2014/programme/devonport"><location><div>
Devonport<span class='spacer'></span>
<br /><div class='date'>Nov 9</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 19%; top: 29%;">
<a  href ="http://localhost/sms2014/programme/pukekohe"><location><div>
Pukekohe<span class='spacer'></span>
<br /><div class='date'>Nov 10</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 64%;">
<a  href ="http://localhost/sms2014/programme/christchurch"><location><div>
Christchurch<span class='spacer'></span>
<br /><div class='date'>13–21 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 38%; top: 84%;">
<a  href ="http://localhost/sms2014/programme/dunedin"><location><div>
Dunedin<span class='spacer'></span>
<br /><div class='date'>16 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 65%; top: 25%;">
<a  href ="http://localhost/sms2014/programme/hamilton"><location><div>
Hamilton<span class='spacer'></span>
<br /><div class='date'>22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 84%; top: 35%;">
<a  href ="http://localhost/sms2014/programme/havelock-north"><location><div>
Havelock North<span class='spacer'></span>
<br /><div class='date'>16, 19 & 23 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 71%; top: 10%;">
<a  href ="http://localhost/sms2014/programme/matakana"><location><div>
Matakana<span class='spacer'></span>
<br /><div class='date'>7 & 9 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 56%; top: 36%;">
<a  href ="http://localhost/sms2014/programme/new-plymouth"><location><div>
New Plymouth<span class='spacer'></span>
<br /><div class='date'>15 & 16 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 44%; top: 77%;">
<a  href ="http://localhost/sms2014/programme/oamaru"><location><div>
Oamaru<span class='spacer'></span>
<br /><div class='date'>13 - 17 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 77%; top: 43%;">
<a  href ="http://localhost/sms2014/programme/palmerston-north"><location><div>
Palmerston North<span class='spacer'></span>
<br /><div class='date'>13 - 22 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 55%; top: 46%;">
<a  href ="http://localhost/sms2014/programme/paraparaumu"><location><div>
Paraparaumu<span class='spacer'></span>
<br /><div class='date'>16 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 25%; top: 94%;">
<a  href ="http://localhost/sms2014/programme/stewart-island"><location><div>
Stewart Island<span class='spacer'></span>
<br /><div class='date'>15 & 19 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 83%; top: 24%;">
<a  href ="http://localhost/sms2014/programme/tauranga"><location><div>
Tauranga<span class='spacer'></span>
<br /><div class='date'>23 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 46%; top: 71%;">
<a  href ="http://localhost/sms2014/programme/timaru"><location><div>
Timaru<span class='spacer'></span>
<br /><div class='date'>15 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 65%; top: 51%;">
<a  href ="http://localhost/sms2014/programme/wellington"><location><div>
Wellington<span class='spacer'></span>
<br /><div class='date'>13–23 Nov</div>
</div>
</location>
</a>
</div>

<div style="position: absolute; left: 42%; top: 21%;">
<a  href ="http://localhost/sms2014/programme/whitianga"><location><div>
Whitianga<span class='spacer'></span>
<br /><div class='date'>5 - 11 Jan 2015</div>
</div>
</location>
</a>
</div>

</div>
<select onchange="document.location.href=this.options[this.selectedIndex].value;" name="location-dropdown">
<br style="clear:both;" />
<option value=""><em>Locations by alphabetical order</em></option>
<option value="http://localhost/sms2014/programme/alexandra">Alexandra</option>
<option value="http://localhost/sms2014/programme/auckland-central">Auckland Central</option>
<option value="http://localhost/sms2014/programme/christchurch">Christchurch</option>
<option value="http://localhost/sms2014/programme/devonport">Devonport</option>
<option value="http://localhost/sms2014/programme/dunedin">Dunedin</option>
<option value="http://localhost/sms2014/programme/hamilton">Hamilton</option>
<option value="http://localhost/sms2014/programme/havelock-north">Havelock North</option>
<option value="http://localhost/sms2014/programme/matakana">Matakana</option>
<option value="http://localhost/sms2014/programme/new-plymouth">New Plymouth</option>
<option value="http://localhost/sms2014/programme/oamaru">Oamaru</option>
<option value="http://localhost/sms2014/programme/palmerston-north">Palmerston North</option>
<option value="http://localhost/sms2014/programme/paraparaumu">Paraparaumu</option>
<option value="http://localhost/sms2014/programme/pukekohe">Pukekohe</option>
<option value="http://localhost/sms2014/programme/stewart-island">Stewart Island</option>
<option value="http://localhost/sms2014/programme/tauranga">Tauranga</option>
<option value="http://localhost/sms2014/programme/timaru">Timaru</option>
<option value="http://localhost/sms2014/programme/waiheke-island">Waiheke Island</option>
<option value="http://localhost/sms2014/programme/wellington">Wellington</option>
<option value="http://localhost/sms2014/programme/whitianga">Whitianga</option>
</select>
<br style="clear:both;" />
<hr class="sessionBreak"><br style="clear:both;" />


<br>



<h3>Events</h3>

<a href="http://localhost/sms2014/events/auckland-opening-night"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/events/2014/aucklandopening.jpg);"><overlayHead><span>Rialto Channel Auckland<span class='spacer'></span><br /><span class='spacer'></span>Opening Night &<span class='spacer'></span><br /><span class='spacer'></span>Awards Ceremony</span></overlayHead></div></a><a href="http://localhost/sms2014/events/wellington-opening-night"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/events/2014/wellingtonopening.jpg);"><overlayHead><span>Rialto Channel Wellington<span class='spacer'></span><br /><span class='spacer'></span>Opening Night</span></overlayHead></div></a><a href="http://localhost/sms2014/events/short-film-talks"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/events/2014/shortfilmtalks.jpg);"><overlayHead><span>Short Film Talks</span></overlayHead></div></a><hr class="sessionBreak"><br style="clear:both;" />
<h3>Sessions</h3>

<a href="http://localhost/sms2014/programme/art-will-save-the-world"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/artwillsavetheworld.jpg);"><overlayHead><span>Art Will Save The World</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/bromance"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/bromance.jpg);"><overlayHead><span>Bromance</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/intheneighbourhood.jpg);"><overlayHead><span>In The Neighbourhood</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/listen-up"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/listenup.jpg);"><overlayHead><span>Listen Up</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/time-travellers"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/timetravellers.jpg);"><overlayHead><span>Time Travellers</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/my-generation"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/mygeneration.jpg);"><overlayHead><span>My Generation</span></overlayHead></div></a><a href="http://localhost/sms2014/programme/highlights"><div id="imagelink" style="background-image: url(http://localhost/sms2014/images/webprogramme/sessions/2014/highlights.jpg);"><overlayHead><span>Highlights</span></overlayHead></div></a><hr class="sessionBreak"><br style="clear:both;" />



<h3>Trailer</h3>

<iframe width="853" height="480" src="//www.youtube.com/embed/6c799L37V2g" frameborder="0" allowfullscreen></iframe>[/raw]