<h3 class="programme">November 10</h3>

<h2 class="programme"><a href="http://www.pukekohecinemas.co.nz">Cinema 3 Pukekohe</a></h2>
85 Edinburgh Street,
Pukekohe
Ph 09 237 0216
<h3>To reserve tickets, call Ph 09 237 0216</h3>
<h4>Ticket Prices:</h4>
$16 general admission
$14 student
$10 senior/child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="pukekohe-2014">
<tbody>
<div>
<tr>
<td width="25">Mon 10 Nov</td>
<td width="25"> 11:30am</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Mon 10 Nov</td>
<td width="25"> 8:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>