<h3 class="programme">15 & 19 November</h3>

<h2 class="programme">Bunkhouse Theatre</h2>
10 Main Road
Stewart Island
Ph 03 219 1113
<h3>To reserve tickets, call Ph 03 219 1113</h3>
<h4>Ticket Prices:</h4>
$15 general admission
$13 senior
$10 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="stewart-island-2014">
<tbody>
<div>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 7.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 7.30pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>