<h3 class="programme">23 November</h3>

<h2 class="programme"><a href="http://www.baycitycinemas.co.nz">Bay City Cinemas</a></h2>
45 Elizabeth Street
Tauranga
Ph 07 577 0288
<h3>To reserve tickets, call Ph 07 577 0288</h3>
<h4>Ticket Prices:</h4>
$14 general admission
$10 concession (student, seniors, children)
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="tauranga-2014">
<tbody>
<div>
<tr>
<td width="25">Sun 23 Nov</td>
<td width="25"> 6:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>