<h3 class="programme">15 November</h3>

<h2 class="programme"><a href="http://www.moviemaxdigital.co.nz">Movie Max</a></h2>
The corner of Sophia and Canon Streets
Timaru Central
Ph 03 684 6975
<h3>To reserve tickets, call Ph 03 684 6975</h3>
<h4>Ticket Prices:</h4>
$16.00 general admission
$13.00 student
$11.00 senior
$10.00 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="timaru-2014">
<tbody>
<div>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights"><strong> Highlights</strong></a></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>