We're all time travellers of a sort. Crossing bridges from one decade into another. Stepping between different realities that exist side-by-side in the same towns and cities. The people in these stories are really doing it though. Pushing the boundaries to explore new worlds, and bend the laws of physics.

Estimated total run time: 87 minutes
[Note censorship ratings to be advised. Please contact your cinema for details.]
<br>&nbsp;

<h2><em>Glare by Sheep Dog & Wolf</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/glarebysheepdogandwolf.jpg" />
Music Video, 4 mins, NZ
Dir/Writ: Jordan Dodson Dir: Sean Wallace Prod: Alix Whittaker

Glare is a soulful hate ballad about the sun. Featuring Sheep, Dog, & Wolf's Daniel McBride running through the south Australian outback desperately trying to escape the day-star.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Crash Course</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/crashcourse.jpg" />
Science Fiction, 4 mins, NZ
Dir/Writ/Prod: Simon Heath Writ: Luke Watkinson  Prod: Quentin Whitwell

A jaded driving instructor of the future has his life put in danger by an errant pupil and an unexpected passenger.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Jiminy</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/jiminy.jpg" />
Science Fiction, 20 mins, France
Dir/Writ: Arthur Mollard Prod: Jeremy Rossi, Stéphane Pierrat

Nathanael is a 'cricket' repair man, in a future world where most people get one implanted in their brain. It allows them to switch to 'automatic mode' when doing boring or complicated tasks. 
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Logistics</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/logistics.jpg" />
Action, 4 mins, AUS
Dir/Writ: Chris Tomkins Prod: Fleur Murphy, Marissa Brown

In a small country town in outback Australia, a cast of outlaws attempt to deliver a suitcase full of money. But out here, nothing is ever as it seems...
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Light Harvester </em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/thelightharvester.jpg" />
Science Fiction, 18 mins, NZ
Dir/Prod: Jason Howden Writ: Anne Rene Brashier, Debra Kelleher, Sarah Howden Prod: Gavin McGibbon, Tamsyn Harker

In a post-apocalyptic world shrouded in darkness, light is rare and valuable. To save his wife, Troy (Craig Hall) commits the ultimate sin of stealing light and the tools to harvest it so they can trade for supplies.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>One-Minute Time Machine</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/one-minutetimemachine.jpg" />
Romantic Comedy, 6 mins, USA
Dir: Devon Avery Writ: Sean Crouch Prod: Brian Dietzen, Carlos Foglia

James is all too eager to put his one-minute time machine to use in winning the heart of Regina, until he discovers the unexpected consequences of his actions.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>Mis-drop</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/mis-drop.jpg" />
Science Fiction, 13 mins, NZ
Dir/Writ/Prod: Ferand Peek

300 years in the future, a forensic accountant reviews the video stream from one mercenary's drop-pod which has been damaged during the initial stages of a colonial invasion.
<br style="clear:both;" />
<hr class="sessionBreak">

<h2><em>The Grey Matter</em></h2><img class="overlaybase alignright " src="http://localhost/sms2014/images/webprogramme/films/2014/thegreymatter.jpg" />
Horror, 18 mins, USA
Dir/Writ: Peter McCoubrey Dir: Luke McCoubrey Prod: Ashlea Hartz

A man wakes up in an alleyway drenched in blood and can’t recall how he got there but seems to be fine. Back at work he attracts the romantic attention of his highly coveted coworker.
<br style="clear:both;" />
<br>
<div class="sms button" style="text-align: center; padding-top: 150px;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>