<h3 class="programme">8 November</h3>

<h2 class="programme"><a href="http://www.waihekecinema.co.nz">Waiheke Island Community Cinema</a></h2>
Artworks, Oneroa
Waiheke Island
Ph: 09 372 4240
<h3>To reserve tickets, call Ph: 09 372 4240</h3>
<h4>Ticket Prices:</h4>
$14 general admission
$10 concession (student & senior)
$7 child
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="waiheke-island-2014">
<tbody>
<div>
<tr>
<td width="25">Sat 8 Nov</td>
<td width="25"> 5:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/highlights*"><strong> Highlights*</strong></a> (See *1)</td>
</tr>
</div>
</tbody>
</table>
[1] (*Festival Director, Gina Dellabarca will introduce this session)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>