<h3 class="programme">13–23 November</h3>

<h2 class="programme"><a href="http://www.paramount.co.nz">Paramount</a></h2>
25 Courtenay Place
Wellington
Ph 04 384 4080
<h3>To reserve tickets, call Ph 04 384 4080</h3>
<h4>Ticket Prices:</h4>
$15.90 general admission
$13.90 concession (student, Film Society)
$11.50 senior
$10.50 children
$20 Rialto Channel Wellington Opening Night
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="wellington-2014">
<tbody>
<div>
<tr>
<td width="25">Thu 13 Nov</td>
<td width="25"> 7:30pm</td>
<td width="25"><a href="http://localhost/sms2014/events/wellington-opening-night"><strong> RIALTO CHANNEL WELLINGTON OPENING NIGHT*</strong></a> (See *1)</td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Fri 14 Nov</td>
<td width="25"> 8.00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Sat 15 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Sun 16 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Mon 17 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Mon 17 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Tue 18 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Tue 18 Nov</td>
<td width="25">  8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong>        In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong>         Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Wed 19 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Thu 20 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Thu 20 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Fri 21 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Fri 21 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sat 22 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Sat 22 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sun 23 Nov</td>
<td width="25"> 1:15pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Sun 23 Nov</td>
<td width="25"> 8:00pm</td>
<td width="25"><strong> Audience Choice</strong></td>
</tr>
</div>
</tbody>
</table>
[1] (*Watch all the award winning films, meet the filmmakers and celebrate short film. See page 21 for more info.)


<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>