<h3 class="programme">5 - 11 Jan 2015</h3>

<h2 class="programme">The Monkey House</h2>
18 Coghill Street
Whitianga
Ph 07 866 5115
<h3>To reserve tickets, call Ph 07 866 5115</h3>
<h4>Ticket Prices:</h4>
$10 general admission
<br>


<h2>Screenings</h2><table id="table--pink-stripes" summary="whitianga-2014">
<tbody>
<div>
<tr>
<td width="25">Mon 5 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/art-will-save-the-world"><strong> Art Will Save The World</strong></a></td>
</tr>
<tr>
<td width="25">Tue 6 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/my-generation"><strong> My Generation</strong></a></td>
</tr>
<tr>
<td width="25">Wed 7 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/listen-up"><strong> Listen Up</strong></a></td>
</tr>
<tr>
<td width="25">Thu 8 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/in-the-neighbourhood"><strong> In The Neighbourhood</strong></a></td>
</tr>
<tr>
<td width="25">Fri 9 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/bromance"><strong> Bromance</strong></a></td>
</tr>
<tr>
<td width="25">Sat 10 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><a href="http://localhost/sms2014/programme/time-travellers"><strong> Time Travellers</strong></a></td>
</tr>
<tr>
<td width="25">Sun 11 Nov</td>
<td width="25"> 7:00 pm</td>
<td width="25"><strong> Audience Choice</strong></td>
</tr>
</div>
</tbody>
</table>

<br>
<div class="sms button" style="text-align: center;"><h3><a class="sms button" href="http://www.showmeshorts.co.nz/programme">Back to Programme</a></h3></div>